[2018-07-28 14:19] sonufrienko commented on #522
Now, we'll see stack on any exception.

[2018-07-28 14:19] #522 closed

[2018-07-28 16:17] sonufrienko commented on #523
Done

[2018-07-28 16:17] #523 closed

[2018-07-28 17:57] itsmidnightyo opened #524 "npm ERR! missing script: setup [docker/ubuntu]"
I am currently setting up a little shop for a client and following the [docker tutorial](https://github.com/cezerin/cezerin/blob/master/docs/how-to-deploy-a-cezerin-on-ubuntu-16-04.md), an error has been encountered and I am not sure where to go from here or how to fix it.. 😭

When I was executing the command to Step 6, it gave me this error:
`root@ubuntu-s-1vcpu-1gb-sfo2-01:~# sudo docker exec st

[2018-07-28 18:42] sonufrienko commented on #524
Hi @itsmidnightyo
Docker image is outdated. I'll update it when @restmount send me access.
For now, you can setup Cezerin from GitHub.

I'll find a time and write a manual "How to install Cezerin from GitHub".

[2018-07-28 20:17] itsmidnightyo commented on #524
Thanks @sonufrienko !
I thought I was doing something incorrectly. 💜

So, once I set it up from GitHub, how will I be able to distribute it to the VPS succesfully w/o Docker?
or can I make a Docker image myself? :)

[2018-07-29 16:38] SimDoes opened #525 "Server not working on VPS (Website won't respond)"
I'm on Google Cloud using Ubuntu 18.04. I installed everything happily (after like a good 2hrs of errors).
Here's the installation I did in a few lines for anyone having issues on Ubuntu. *Edit: don't run both `pm2` and `node start` I recommend running just pm2 instead.
[code]

Anyway I start npm and it says it's running on localhost, but I don't know how to make it work as a website.
I tried doin

[2018-07-30 03:33] yangjiamu opened #526 "Store server breaks down when request on sitemap.xml"
When request sitemap.xml, store server exist. I did some debug and found the problem is in line 33 of sitemapRendering.js, because of sitemap.toXML cause an error and no else branch exist, so res.send(xml) cause server down.
`
sitemap.toXML((err, xml) => {
	if (err) {
		res.status(500).end();
	}
	res.header('Content-Type', 'application/xml');
	res.send(xml);
});
`

[2018-07-31 01:50] Oliverhowden commented on #524
Any luck with this? I've tried installing from Github though getting a few weird database issues so would love the Docker version!

[2018-07-31 02:33] RoraxHan commented on #454
hello, stripe payment integrated ?
otherwise..
@abettarini : can you send me the source that is implemented stripe?

[2018-07-31 14:41] jallkay commented on #519
I'd be up for this! Would be good to share tips and help with debugging

[2018-08-01 08:20] ceracera opened #527 "Multilingual cezerin"
I know you can set up a shop with different languages thanks to many translations done already but that is still a single language shop. I would like to make shop available in multiple languages. Product descriptions, titles, attributes, etc. would be written in other languages in addition to primary language and visitors could choose shop language they want.

Are there any plans for it? What woul

[2018-08-01 09:10] #526 closed

[2018-08-01 11:36] mkouchi commented on #442
Ok, Thanks.

[2018-08-01 15:02] amp9020 commented on #527
@ceracera does this answer your question:

https://github.com/cezerin/cezerin/issues/523

[2018-08-01 15:08] amp9020 commented on #525
Please edit your config/*.js file , run npm run build and then start the app again.

[2018-08-01 15:44] sonufrienko commented on #527
@ceracera
Adding multilingual to Cezerin will take around 1-2 month roughly.
Multilingual is a pretty complex task. Mostly for UI. Language switchers everywhere.

I think the current goal should be **stable v1** with the customer account.
@restmount am I right?

[2018-08-01 17:29] ClementeSerrano commented on #420
Hi everyone! Is the customer dashboard already implemented? @restmount

[2018-08-01 19:01] sonufrienko commented on #420
@ClementeSerrano
No.

[2018-08-01 21:28] ceracera commented on #527
@sonufrienko Yes, I understand that. The thing is that I would like that feature available really soon so I was thinking in doing some of it, at least some core functionality, myself. Can you point me in the right direction about how to deal with it. Something like a description of what needs to bi changed/added in order to achieve that functionality.

[2018-08-02 04:08] sonufrienko commented on #527
@ceracera

Steps for the multilingual task
1. Design database schema
2. Modify API to accept language in the header
3. Modify API to work with right locale
4. Add language option to CezerinClient (REST API client)
5. Dashboard: add a language switcher
6. Store: add a language switcher
7. Theme: change source of locale theme/locales/<locale>.json

The Store is almost headless. So the most modificat

[2018-08-02 15:59] SimDoes commented on #525
@amp9020 what ip do I put where? and should I change the store.js and admin.js config aswell?

[2018-08-02 17:09] amp9020 commented on #525
@SimDoes yes modoify the js files.  you can put whatever IP you want or a hostname.  i personally would do reverse-proxy and do proxy-pass on the ports and leave it as is.

[2018-08-02 20:45] ceracera commented on #527
@sonufrienko

Thanks a lot. That is great help. I'll try to make some basic functionality this weekend and if you have some additional hints and advice, please let me know.

[2018-08-02 20:48] sonufrienko commented on #527
Ok.

[2018-08-03 09:42] heartstchr commented on #493
@amey10794  If this occurred after the pull from upstream then the following step will solve the problem
rm -rf node_modules
node -v
output: v8.X
npm install

[2018-08-03 09:58] heartstchr commented on #513
@AlphaMage this is resolved probably. I did it successfully without any issue.

[2018-08-03 10:14] sonufrienko commented on #513
@AlphaMage I have no errors, also.

[2018-08-03 10:14] #513 closed

[2018-08-03 10:16] sonufrienko commented on #493
@amey10794
I have no errors on the project start.

Double check your code:
[code]

[2018-08-03 10:16] #493 closed

[2018-08-03 19:15] dchilders21 commented on #399
Hey @sonufrienko, I'm also trying to use dev mode and the commands you noted above work.  But when I make a change, let's say in the 'theme/src/components/productDetails/index.js' file, the watcher sees a change in the file, but stops at a syntax error previously in the file`[compile] [themeWatcher] SyntaxError: theme/src/components/productDetails/index.js: Unexpected token (23:1)
[compile] [theme

[2018-08-03 20:26] sonufrienko commented on #399
@dchilders21
Soon, I'll publish docs how to run with a file watcher.

[2018-08-03 20:32] dchilders21 commented on #399
Appreciate the response @sonufrienko.  I'm excited to get to more familiar with this a little bit more.

[2018-08-04 09:40] justraman opened #528 "You need to choose options"
![screenshot from 2018-08-04 15-08-32](https://user-images.githubusercontent.com/25192346/43674923-76f3b6a0-97f8-11e8-882d-d28167b9dac6.png)

it is showing you need to choose an option . how can i fix that?

[2018-08-04 14:48] sonufrienko commented on #528
@justraman
pls, show me product options on the dashboard.

[2018-08-04 16:07] edenmw commented on #506
My approach
\node_modules\mquery\lib\collection\node.js:50
NodeCollection.prototype.count = function(match, options, cb) {
  this.collection.count(match, options, cb);
};
=> NodeCollection.prototype.countDocuments = function(match, options, cb) {
  this.collection.countDocuments(match, options, cb);
};

\node_modules\mongoose\lib\query.js:1950
this._collection.count(conds, options, utils.tick(call

[2018-08-04 16:36] sonufrienko opened #529 "Validating Props with PropTypes"
We should use PropTypes on Theme.

[2018-08-04 18:37] itsmidnightyo commented on #524
@Oliverhowden,
I've actually installed it successfully on my DigitalOcean VPS running Ubuntu 16.04! Although it took me a while to figure it out and configure nginx, I got it working! 💯

What are you looking to achieve?
In my opinion, I find it easier to deploy on your website first and work from there so you don't have to worry about messing something up in the long run.

[2018-08-04 18:37] ceracera opened #530 "build:watch syntax errors"
When running `npm run build:watch` I get a lot of errors related to JSX. It's like this:

`[compile] [themeWatcher]   3 | const InputField = field => (
[compile] [themeWatcher] > 4 |  <div className={field.className}>
[compile] [themeWatcher]     |  ^
[compile] [themeWatcher]   5 |          <label htmlFor={field.id}>
[compile] [themeWatcher]   6 |                  {field.label}
[compile] [themeWat

[2018-08-05 04:16] sonufrienko commented on #530
Fixed.

[2018-08-05 04:16] #530 closed

[2018-08-05 04:45] ceracera commented on #527
@sonufrienko I have trouble finding the right way to pass 'Accept-Language' header to server api. Can you point me in the right direction?

I would like to read Headers when there is no Local storage, and Local storage when user already picked a language before. I have found where are options in cezerinClient but I don't know how to pass 'Accept-Language' header to those options.

It would be grea

[2018-08-05 08:26] sonufrienko commented on #527
@ceracera
need to modify CezerinClient at https://github.com/cezerin/client/blob/master/src/apiClient.js#L15
and put language in the header to fetch.

[2018-08-05 08:32] sonufrienko commented on #527
CezerinClient can have a **setLanguage** method.
Logic
1. create a client with the default language
2. customer switch language -> **.setLanguage('es');**
3. every **fetch** request should have new language in **Accept-Language header**

[2018-08-05 08:44] sonufrienko commented on #527
**on the server**
1. on page rendering you need to read all locales and put to Theme
2. every router should read language from the header and put to service to operate with MongoDB

**on the client**
1. Theme should receive all locales and find specific

SSR adds complex to this task.

[2018-08-05 13:13] ceracera commented on #527
@sonufrienko
Thanks a lot. But it's hopeless :( I still cannot figure out how to get user language to CezeringClient. I can read Local storage in browser but since it's shared code on server also, it doesn't work...

What I did is this:
  - Changed the db schema
  - Modified CezerinClient like you said (as local npm package)
  - Updated methods that get translateble fields

It's all working well w

[2018-08-05 13:32] sonufrienko commented on #527
@ceracera
1. add `setLanguage(<locale>)` to CezerinClient - it should add language to the header on fetch request to API and AJAX (important - both).
2. call `api.setLanguage(<locale>)` or `api.ajax.setLanguage(<locale>)` when client switch language
3. also need to check is this header allowed

At this point, your CezerinClient (client and server) will always know your current language and attach

[2018-08-05 14:32] ceracera commented on #527
@sonufrienko Can you give me more info on number 1. above. Some example, pseudo code?

[2018-08-05 18:34] ceracera commented on #527
@sonufrienko DB schema and server methods for getting right language are working. But only when I literraly type language header in `getConfig` method of `apiClient`. I don't understand how can this value be set by `setLanguage` function. Do I have to use options in CezerinClent, like the token is passed now?

Any help is more than welcome :)

[2018-08-05 21:59] themcguy opened #532 "npm install hangs"
Every single time I run npm install on my ubuntu EC2 instance, it hangs. Any idea why?? Frustrating to wait for hours with nothing happening..

[2018-08-06 09:12] sonufrienko commented on #341
Hi,
now we have
[code]
Script will add seed data, default settings, token and Indexes.

[2018-08-06 09:12] #341 closed

[2018-08-06 09:13] #431 closed

[2018-08-06 09:14] sonufrienko commented on #442
Hi,
please, check new doc [How to deploy a Cezerin on Ubuntu 18.04.1 (from GitHub)
](https://github.com/cezerin/cezerin/blob/master/docs/how-to-deploy-a-cezerin-on-ubuntu-18-04-1-github.md).

[2018-08-06 09:14] #442 closed

[2018-08-06 09:15] sonufrienko commented on #444
Hi,
please, check new doc [How to deploy a Cezerin on Ubuntu 18.04.1 (from GitHub)
](https://github.com/cezerin/cezerin/blob/master/docs/how-to-deploy-a-cezerin-on-ubuntu-18-04-1-github.md).

[2018-08-06 09:15] #444 closed

[2018-08-06 09:24] #454 closed, assigned to nobody

[2018-08-06 09:26] #449 closed

[2018-08-06 09:27] #404 closed

[2018-08-06 09:41] sonufrienko commented on #456
@dsp1589
Any Service in Cezerin API can be rewritten to use a different type of database.
Some can use MongoDB, another PostgreSQL or Redis, etc.
Almost all services are independent.

On the current stage, it's more important to refactor all code and cover with tests :wink:

[2018-08-06 09:41] #456 closed

[2018-08-06 09:42] sonufrienko commented on #525
Hi,
please, check new doc [How to deploy a Cezerin on Ubuntu 18.04.1 (from GitHub)
](https://github.com/cezerin/cezerin/blob/master/docs/how-to-deploy-a-cezerin-on-ubuntu-18-04-1-github.md)

[2018-08-06 09:42] #525 closed

[2018-08-06 09:42] sonufrienko commented on #524
Hi,
please, check new doc [How to deploy a Cezerin on Ubuntu 18.04.1 (from GitHub)
](https://github.com/cezerin/cezerin/blob/master/docs/how-to-deploy-a-cezerin-on-ubuntu-18-04-1-github.md)

[2018-08-06 09:42] #524 closed

[2018-08-06 09:44] sonufrienko commented on #517
@NugzarGaguliya
I can suggest you modify only *theme*.
Then it's easier to merge.

[2018-08-06 09:44] #517 closed

[2018-08-06 09:47] sonufrienko commented on #472
You can deploy from GitHub with easy.
Please, check new doc [How to deploy a Cezerin on Ubuntu 18.04.1 (from GitHub)
](https://github.com/cezerin/cezerin/blob/master/docs/how-to-deploy-a-cezerin-on-ubuntu-18-04-1-github.md)

[2018-08-06 09:47] #472 closed

[2018-08-06 09:57] sonufrienko commented on #527
@ceracera you mean this
1.
[code]

2.
[code]

3.
[code]

[2018-08-06 10:02] sonufrienko commented on #515
Hi @lefcf
You suggestion make sense.
But in the current stage, this is not the most important task.

[2018-08-06 10:02] #515 closed

[2018-08-06 10:03] sonufrienko commented on #532
Hi @themcguy
Any logs?

[2018-08-06 10:03] #532 closed

[2018-08-06 11:38] themcguy commented on #532
It seems to have finished now. Not sure if I just didn't wait long enough or what. I also deleted node_modules and package-lock.json. I am now getting the following errors:

[code]

[2018-08-06 12:00] sonufrienko commented on #532
@themcguy
first of all, check this [new guide](https://github.com/cezerin/cezerin/blob/master/docs/how-to-deploy-a-cezerin-on-ubuntu-18-04-1-github.md)

Do you build it?
[code]

[2018-08-06 12:05] themcguy commented on #532
Hi. yes, I ran ```npm run build``` and that is what produced the above.

I don't know how to use docker. I would like to use an alternative if possible?

I'm running Ubuntu 16.04.5

[2018-08-06 12:36] sonufrienko commented on #532
@themcguy
What is your environment?
Node version?
Do you use the latest version of Cezerin?

[2018-08-06 12:43] themcguy commented on #532
Hi, can you be a little more specific when you say "environment"?

ubuntu 16.04
node v10.0.0
npm v5.6.0
mongo db version v2.6.10

I pulled Cezerin from master branch.

Let me try the new guide. Does it work the same for Ubuntu 16.04?

[2018-08-06 12:50] sonufrienko commented on #532
Node v10 can cause and error.
1. try a new guide
2. try to use Node v8

[2018-08-06 14:19] ceracera commented on #527
@sonufrienko Great, thanks, done that. I can call `setLocale` from `src/store/client/api`, but how can I pass user language from client to `src/api/server/ajaxRouter.js` or `src/store/server/ajaxRouter.js`? I don't know how to pass `localStorage` item to `ajaxRouter`...

[2018-08-06 14:46] themcguy commented on #532
Ok, trying now.

When you say "Generate new values for secret keys", how do you recommend doing that?

[2018-08-06 14:48] sonufrienko commented on #527
**on Theme (client-side)**
[code]
CezerinClient will attach headert to every fetch requests.

**on ajaxRouter.js**
1. get Accept-Language from req header
2. ```api.products.list(filter, localeFromHeader)``` for example

[2018-08-06 15:16] sonufrienko commented on #532
I use LastPass -> Generate Secure Password

[2018-08-06 15:26] ceracera commented on #527
@sonufrienko Ok, so on `ajaxRouter.js` (`src/api/server/ajaxRouter.js`, right?), when I get lang header it gets passed back to CezerinClient and there, in the `list(filter)` method, for example, I have to pass that header to api.

From there I can pick a language in, for example, `getProducts` method from `src/api/server/services/products/products.js`. Is that right?

Sorry to bother you but it's

[2018-08-06 15:53] themcguy commented on #532
Thanks.
I have run through the steps in the "new guide" and I still get the same errors I pasted above. The only difference is that my nginx version doesn't match but I feel like that should not matter. Additional logging:

[code]

[2018-08-07 01:13] yangjiamu opened #534 "Is it possible to make variant function like this"
![variant](https://user-images.githubusercontent.com/7434540/43748362-bd49c0c4-9a21-11e8-9fec-898690510a30.png)

[2018-08-07 03:10] sonufrienko commented on #534
Hi @yangjiamu
It's possible but need to do:
1) add an image to an option
2) render options as Radio Buttons

[2018-08-07 03:10] #534 closed

[2018-08-07 04:52] sonufrienko opened #535 "Set up Continuous Deployment"
We need to automatically deploy master branch to the server.

Basic flow should be:
- commit to master
- test
- deploy

https://store.cezerin.com or any other domain should represent code from master.

[2018-08-07 04:55] sonufrienko commented on #535
@restmount
Where is store.cezerin.com located? AWS, DO ...?

[2018-08-07 05:57] yangjiamu commented on #534
@sonufrienko Ok, thanks, and i want to know if cezerin's variants will be planned to change like this in future?

[2018-08-07 08:09] sonufrienko commented on #534
@yangjiamu
It's hard to say.

[2018-08-07 09:31] ceracera commented on #527
@sonufrienko I managed to make it work. It's only for product names for now but it's a start :)

Here is what I did:

### On CezerinClient
- added language to api and ajax clients in constructor and header for language in getConfig
- added setLanguage method on both api and ajax clients

### On API
- in `ajaxRouter` get language header and call `setLanguage(language)` in CezerinClient with it. (on

[2018-08-07 09:53] sonufrienko commented on #527
@ceracera
Awesome! Give me some time to think about it.

[2018-08-07 16:47] amp9020 opened #536 "Suggestion - Wepay integration"
Hi,

Would it be possible to add Wepay integration on to the roadmap of Cezerin?

Info:
https://go.wepay.com/

API:
https://developer.wepay.com/api/general/api-call

Github:
https://github.com/wepay/NodeJS-SDK

Maybe this can kickstart the way:
https://github.com/TheF1rstPancake/wepay-react-checkout

thanks,
@amp9020

[2018-08-07 19:41] dchilders21 opened #537 "502 Bad Gateway when installing with Docker"
I was able to get cezerin working by building locally but wanted to get it working with docker so I can set up automatic deployment to AWS.  I'm following the instructions [here](https://github.com/cezerin/cezerin/blob/master/docs/getting-started-docker.md).

#1 runs fine.  It creates the 'db' folder in the cloned cezerin root folder.
docker run --name store-db -v /Chnkyfire/cezerin/db:/data/db -d

[2018-08-07 19:57] sonufrienko commented on #537
Hi @dchilders21
Docker image is outdated.
Better to get from GitHub. Check this guide: https://github.com/cezerin/cezerin/blob/master/docs/how-to-deploy-a-cezerin-on-ubuntu-18-04-1-github.md

[2018-08-07 20:03] dchilders21 commented on #537
Thanks for the reply @sonufrienko. I tried that briefly yesterday and had some trouble launching on a AWS instance.  I'll try again though and let you know how it goes.

[2018-08-07 21:41] chrisrijos opened #538 "Issue with product image sizing on home page."
If you add a product and add an image on desktop the image is way oversized. These values are being evaluated as null and the dom is assigning the css class Infinity.

<div
className={`column is-${columnSizeOnMobile}-mobile is-${columnSizeOnTablet}-tablet is-${columnSizeOnDesktop}-desktop is-${columnSizeOnWidescreen}-widescreen is-${columnSizeOnFullhd}-fullhd ${product.stock_status}`}>

![image](h

[2018-08-08 04:55] sonufrienko commented on #538
Hi @chrisrijos
Thanks.

[2018-08-08 08:17] restmount commented on #535
Hi man,
just sent u email.
Thanks.

[2018-08-08 10:32] #538 closed

[2018-08-08 11:26] sonufrienko opened #539 "Refactoring React code of Theme"
We can improve speed of rendering.

Todo:

1) replace `index` to `*.id` where we can
2) remove computing from `render()` method
3) use `PureComponent` where we can
4) replace
[code]
with
[code]
5) Use setState callback. Replace
[code]
with
[code]

[2018-08-08 13:31] titchimoto commented on #469
@sonufrienko Hey! I may be signing myself up some punishment here with testing, but I would like to claim this issue and create a test suite for the API, if you're accepting PR's?

Is there currently any testing going on in the code base? (Hadn't seen any from my brief check...) Is there a specific testing framework you would prefer to be used? I would probably go for some combination of Mocha/Jes

[2018-08-09 16:10] liku commented on #535
♥

[2018-08-10 01:34] ceracera commented on #527
Now I added `traverse` to CezerinClient, in `get` method. So if there is cookie `language: fr` and data in mongo is like:

[code]

it is fetched as:

[code]

[2018-08-10 23:08] dukemai commented on #397
Now I got the same issue on Mac. I am running npm 6.3.0. any ideas?

[2018-08-11 14:38] tigrankhachikyan opened #540 "Question: Is cezerin ready for production?"
I'm thinking to switch my store from woocommerce to cezerion,  but not sure if it is ready for production.

[2018-08-11 15:31] samarkandiy commented on #540
Just install it on your desktop or web server and test it.

[2018-08-11 19:06] sonufrienko commented on #540
@tigrankhachikyan
First of all, you should check the features.
In a couple days I'll release new version v0.34.0.

[2018-08-11 19:08] sonufrienko commented on #397
@dukemai
[code]
if you'll see errors, please attach it here.

[2018-08-11 19:10] tigrankhachikyan commented on #540
Thanks for the response. Actually I've tested the 0.33 version couple of months ago (created some github issues as well).
Then I had an impression that the project is on hold, and no current development and feature improvement.

I'm happy that the project is live and can't wait for 0.34 version.
Thanks

[2018-08-11 21:17] dukemai commented on #397
thanks, it works now. what is the difference between my previous steps. I did
1) yarn
2) yarn run build => failed here

[2018-08-13 13:48] ponkster commented on #458
Hi @sonufrienko, yes it has been solved. After pulled the last update, the npm run build still produce the same error, until I commented this https://github.com/cezerin/cezerin/blob/bb72aa1be6269f3563b6bb2b4b8e9b322f33ad59/webpack.config.admin.js#L74 then the build run perfectly.

Thank you

[2018-08-13 13:53] samueldervis opened #541 "."
)

In short, if you navigate from one page-type to another it doesn't work until you manually reload.

[2018-08-13 20:57] amp9020 opened #542 "Test email functionality"
When using the production server.js. file , is there any way to test the sign-in functionality or debug if an email was actually sent?
Any additional components , in a linux box, that are required?

thanks,

[2018-08-14 02:58] dougkulak commented on #369
See Pull Request #543

[2018-08-14 05:03] dougkulak commented on #48
What do you think of this?

![cezerin-logo](https://user-images.githubusercontent.com/1026183/44072608-b0976732-9f44-11e8-9025-fa1125c35dc8.png)

[2018-08-14 05:38] dougkulak commented on #48
![cezerin-specimen](https://user-images.githubusercontent.com/1026183/44073612-8a762340-9f49-11e8-9319-da8fd4ade03d.png)

[2018-08-14 07:16] dougkulak commented on #470
Fixed in Pull Request #543

[2018-08-15 06:45] isozist commented on #488
I also need a coupon code feature.

tnx Cezerin dev team

[2018-08-15 14:30] amirsefati opened #544 "token=null"
i have problem run cezerin on centos 7 install mongodb node npm nginx and follow on install ubuntu
but can't login in admin page , when opening /admin this error show in console
plz help

app-3fbed4893b8cb0a4d0a1.js:1 WebSocket connection to 'ws://5.196.101.39:3000/ws/dashboard?token=null' failed: Connection closed before receiving a handshake response
u @ app-3fbed4893b8cb0a4d0a1.js:1
t.connectTo

[2018-08-15 16:18] amp9020 commented on #48
![cezerin_v1_big](https://user-images.githubusercontent.com/16352460/44159394-dc776080-a07c-11e8-93af-2539ea994798.png)
![cezerin_v1_small](https://user-images.githubusercontent.com/16352460/44159400-e0a37e00-a07c-11e8-9c41-dc3fc0923fa8.png)

[2018-08-15 18:29] Michaeldrm commented on #544
+1

[2018-08-16 11:15] isozist commented on #420
hi @freakk101 are you finish customer panel ?

for item
1)user section (login/signup/order)

[2018-08-17 02:29] mrhut10 commented on #341
is there doc's to reflect this feature??? @sonufrienko

[2018-08-19 10:46] sonufrienko opened #546 "Replace undefined check with "in""
Rewriite this

https://github.com/cezerin/cezerin/blob/bb72aa1be6269f3563b6bb2b4b8e9b322f33ad59/src/api/server/services/redirects.js#L110

to this

[code]

[2018-08-19 10:51] sonufrienko opened #547 "Promise.reject should return Error object"
Rewrite this

https://github.com/cezerin/cezerin/blob/bb72aa1be6269f3563b6bb2b4b8e9b322f33ad59/src/api/server/services/redirects.js#L37

to this
[code]

### Why
Allows to do better logs with **message** and **stack**.

[2018-08-19 10:57] ashbeelghouri opened #548 "DeprecationWarning: collection.find option [fields] is deprecated and will be removed in a later version."

[2018-08-19 10:58] ashbeelghouri commented on #548
I am using mongoose 5.2.9, express 4.16.3.

[2018-08-19 18:15] sonufrienko commented on #548
Hi @ashbeelghouri
Cezerin doesn't use mongoose.
But I also see this message.

[2018-08-22 03:48] Micael106 opened #549 "From MongoDB to firebase"
I would like to use the firestore (firebase) as the database instead of mongodb. If this is possible, how could I refactor the code for this to work?

[2018-08-23 03:32] inspireui opened #550 "CezerinClient is not a constructor"
Hi, i've got this issue when run the project, please suggest, it worked fine on last few days a go but when update the cezerin-client it show this error.

<img width="944" alt="screen shot 2018-08-23 at 10 31 00 am" src="https://user-images.githubusercontent.com/29778334/44503283-c17d9f80-a6bf-11e8-8458-4df5b5073725.png">

[2018-08-23 10:43] Michaeldrm opened #551 "Too many product categories, very slow store."
Hello, my store have by default too many product categories, about 20 thousand.. I know it seems too much but this is extremely important for my project to work so, I was looking for a way that the categories could be loaded "on demand" like the app loads only the parent categories and than search for the children categories only if the user select its parent. How this could be done? The way that

[2018-08-23 11:32] sonufrienko commented on #551
@Michaeldrm
I also have this issue. Fixed by loading fewer fields.

https://github.com/cezerin/cezerin/blob/bb72aa1be6269f3563b6bb2b4b8e9b322f33ad59/src/store/server/loadState.js#L19

Something like this:
[code]

If you don't need to render categories as a tree, then you can load them dynamically.
Of course, this not works out of the box.

[2018-08-23 12:35] Michaeldrm commented on #551
The store is now running fine but, in the product admin page the loading time is still too long!

![error](https://user-images.githubusercontent.com/4975044/44525626-e5d57e00-a6b7-11e8-9e1b-7e3c83dd6182.png)

[2018-08-23 12:36] Michaeldrm commented on #551
There is something more I can do?

[2018-08-23 18:57] ClementeSerrano opened #552 "Can't create sub categories of products in the Dashboard"
It is not possible to create subcategories of products in the Dashboard. After going to the sub section of Manage Categories, there is no button that allows me to create a sub category of product (within a category already created of course)

[2018-08-23 19:02] ClementeSerrano commented on #420
Hi @sonufrienko and @restmount ! Do you have any dates for the launch of the customer panel?

[2018-08-25 02:11] marcelowu opened #553 "proxy apache config file..."
how to configure apache,

Nginx config file
server {
        # Dynamic image resizing server
        listen 127.0.0.1:8888;
        server_tokens off;
        location ~ "^/resize/(?<entity>\w+)/(?<id>\w+)/(?<width>[1-9][0-9][0-9]{1}|[1][0-9][0-9][0-9]{1})/(?<file>.+)$" {
                alias /var/www/cezerin/public/content/images/$entity/$id/$file;
                image_filter_buffer 20M;

[2018-08-25 04:44] heartstchr opened #554 "Dashboard login"
@sonufrienko I am able to login to the dashboard by url <baseurl>/admin it is not redirecting to<baseurl>/admin/login.

[2018-08-25 04:47] marcelowu commented on #554
Adding common pages
db.pages.insertMany([
  {slug: '', meta_title: 'Home', enabled: true, is_system: true},
  {slug: 'checkout', meta_title: 'Checkout', enabled: true, is_system: true},
  {slug: 'checkout-success', meta_title: 'Thank You!', enabled: true, is_system: true},
  {slug: 'cart', meta_title: 'Cart', enabled: true, is_system: true},
  {slug: 'login', meta_title: 'Login', enabled: true, is

[2018-08-25 04:50] heartstchr commented on #554
@marcelowu  Initial setup is done, without authentication, I am able to go to admin dashboard

[2018-08-25 04:59] Micael106 commented on #554
If I understand your issue, you need to disable developer mode to enable administrator login. See [https://github.com/cezerin/cezerin/blob/master/docs/how-to-deploy-a-cezerin-on-ubuntu-16-04.md#7-turn-off-developer-mode](the doc)

[2018-08-25 06:32] JacquesBerg opened #555 "Cezerin for minfind.com"
If anyone is available or interested in helping me transform MINFIND.COM using Cezerin, please let me know at jacques@minfind.com. I am sure it will lead to valuable contributions to the code base and serve as a stunning showcase for Cezerin, with 30K unqiue products.

[2018-08-25 07:07] francishero opened #556 "adding new products at backend doesnt show up on client"
i access localhost://3000/admin and added some products
tried to access localhost:3000 the added products dont show.

is there something i need to enable or disable?

[2018-08-26 05:44] heartstchr commented on #556
@francishero it will automatically add those. @sonufrienko Do we have gitter chat for cezerin. If yes can you please provide gitter link in readme

[2018-08-27 07:37] owserge commented on #397
I have the same issue on Mac OS.
node -v > v8.11.4
npm -v > 5.10.0
sw_vers >
ProductName:	Mac OS X
ProductVersion:	10.13.6
BuildVersion:	17G65

[2018-08-27 11:47] michaelrabelo commented on #551
How can I remove categories list from HeadMenu? Even with the config above the categories list in the head menu is slowing down my store.

[2018-08-28 20:51] damianfabian commented on #519
I want to start supporting this project with some hours of work. It would be nice if you guys open the Slack channel to follow what's going on with the project. Hope to hear soon from you guys!

[2018-08-29 18:51] hoflish opened #558 "Change header and footer logo"
[Resolved] Hi, I want to use my own logo by getting it from theme settings. could you please tell me how to do this ?

[2018-08-29 20:05] dewelloper commented on #408
hello all how do you debugging this app

[2018-08-31 10:56] #558 closed, assigned to nobody

[2018-08-31 15:40] umeshShindepatil opened #559 "Need Image picker for only react(not for native) mobile app, which can be open mobile camera and take picture or video to upload"
need to be able upload video/picture using  simple react, but not found npm package. found some package in native but that are not working.

[2018-09-01 11:49] francescotaioli opened #560 "[question] Unable to do hot reload, missing node script?"
hi, i want to modify the teme such as the cartItem Icon and add some features. I want to to the hot reload, so i'm looking for the  theme:build:dev script ( show in [docs](https://github.com/cezerin/cezerin/tree/master/docs)

theme:build:dev | Refresh theme after modification and watch.

After launch node start and this script, in teory, i'm able to do the hot reload. the problem is that this scri

[2018-09-01 11:55] francesco-taioli commented on #560
i find this question, remains like this? https://github.com/cezerin/cezerin/issues/385

[2018-09-01 12:40] francescotaioli commented on #534
@yangjiamu hi, i want to achieve the same function. have you do it?

[2018-09-01 14:01] heartstchr commented on #554
@Micael106  yes it got resolved by disabling developer mode thanks.

[2018-09-01 17:06] CezarManea commented on #527
@ceracera do you have the code accessible anywhere?

[2018-09-02 16:32] sharmaabhishek2207 opened #561 "Redirect to Checkout-success"
Hi All,
I have integrated a custom payment gateway to paymentForm and customer can pay the invoice from external method. From my paymentForm, I make ajax call to poll paymentGateway to confirm the payment status. Post successful confirmation, i have to redirect to checkout-success. Since I am new to Cezerin framework, I am not sure how to redirect so I use window.location method for redirection. B

[2018-09-03 07:25] ceracera commented on #527
@CezarManea Its not finished yet

[2018-09-03 08:37] shiptomorrow commented on #561
Well according to the error you left the shipping method input blank or didn't put anything in it. Or it could be that you didn't include the `shippingMethod` in your implementation. You probably didn't add a shipping method on the admin dash pannel or just didn't select it on checkout. If you want to look at the proper way to redirect then just look at the code for other payment methods in Cezeri

[2018-09-03 14:17] sharmaabhishek2207 commented on #561
Hi SimDoes,
Thanks for your reply. I followed the implementation of paypal but for redirection I used javascript method "window.location = <target_url>". Can you please highlight the section which deals with redirection for other payment gateway.

[2018-09-04 11:49] shiptomorrow commented on #561
You might want to include your new payment method in the /src/api/server/paymentGateways/index.js file at the top if that helps. To be honest I have no idea either so I hope one of the devs can help. If you're really stuck then just take out bits of code that might be it and see if it still redirects it.

[2018-09-04 12:05] metalice opened #562 "This project seems very interesting.."
hello,

im looking at this project and it seems very i
what about open a slack for quick discussions?

Matan

[2018-09-04 14:30] francescotaioli commented on #385
@prostoVladislav i have problem with hot reload, can you help me please?

[2018-09-05 13:39] HaswinVidanage commented on #397
+1 same issue

[2018-09-06 09:14] samdervis commented on #541
any help?

[2018-09-06 20:33] dewelloper opened #563 "debugging API and why did you embeeded the cezerin-client"
Hello All,

I will develop a specific branch in my local. But i couldn't imagine some of the development environment requirements.
1- I am using vscode, i can debugging project with webpack and vscode debugger. But i cant debugging API side  in the same IDE. Is there any manner that you have used?

2- There is a service-example project for developers. Is this vendor companies?

Thank you

[2018-09-06 21:27] dewelloper commented on #289
is this feature cezerin-client ?

[2018-09-06 22:25] juancamiloqhz commented on #562
Hello, I'm very interested too. Please open the slack group

[2018-09-07 03:38] vivekkumarmaru opened #564 "Site breaks and says You must specify the "to" property"
When i added products to cart and deleted the same products the site breaks down it says.

```Warning: Failed prop type: The prop `to` is marked as required in `NavLink`, but its value is `undefined`.```

[code]

[2018-09-07 07:29] yangjiamu opened #565 "paypal setup"
This is a great project.
When i deploy cezerin in my server i have some problem, i don't know how to set paypal, the client id in the admin panel is equal to the email id? I tried both email id and NVP/SOAP Sandbox API Credentials's username, but when i checkout i get 401 unauthorized on https://www.sandbox.paypal.com/v1/oauth2/token, and the error message is {"error":"invalid_client","error_descr

[2018-09-07 07:38] zgelp commented on #562
Hey, I would like to implement some more features (user accounts and payment gateways), so slack group will be more than welcome.

[2018-09-07 08:36] dougkulak commented on #562
https://join.slack.com/t/cezerin-ecommerce/shared_invite/enQtNDMwOTEyMTk0OTk1LTQwNmEzNTgyN2Y5NjZjYzQ3N2FjY2U4ZWQxYTU0M2EwYWRkMTk5OGMzMzVkYTk0ZTEzZDYxZjk5MGQ1MWZmMjQ

[2018-09-07 08:37] dougkulak commented on #519
This project appears to be dying. I'm going to make an effort to save it. Here is the new slack channel:

https://join.slack.com/t/cezerin-ecommerce/shared_invite/enQtNDMwOTEyMTk0OTk1LTQwNmEzNTgyN2Y5NjZjYzQ3N2FjY2U4ZWQxYTU0M2EwYWRkMTk5OGMzMzVkYTk0ZTEzZDYxZjk5MGQ1MWZmMjQ

[2018-09-07 08:39] dougkulak commented on #128
https://join.slack.com/t/cezerin-ecommerce/shared_invite/enQtNDMwOTEyMTk0OTk1LTQwNmEzNTgyN2Y5NjZjYzQ3N2FjY2U4ZWQxYTU0M2EwYWRkMTk5OGMzMzVkYTk0ZTEzZDYxZjk5MGQ1MWZmMjQ

[2018-09-07 11:09] ghost opened #566 "Mongo DB connection Failed , App is not starting"
I,ve changed confing details in `server.js and server.production.js` files like this

`const dbHost = process.env.DB_HOST || '255.255.255.255';
const dbPort = process.env.DB_PORT || 27017;
const dbName = process.env.DB_NAME || 'shop';
const dbUser = process.env.DB_USER || 'user';
const dbPass = process.env.DB_PASS || 'password';
const dbCred =
	dbUser.length > 0 || dbPass.length > 0 ? `${dbUser}:$

[2018-09-07 12:36] zgelp commented on #566
What do you want to achieve with this? I belive you typed in the wrong IP address for database, MongoDB usually listens on 127.0.0.1:27017.

Anyway, I belive "Issues" thread in this repo is not for your problems setting up database and API, but rather for specific bugs dealing with this repo's code / implementation.

[2018-09-07 12:54] ghost commented on #566
I raised this issue because documentation should be up to date, check configuration section yourself `DB_HOST=255.255.255.255 \` and I done this and its still not working, some one should look into this.

MongoDB usually listens on 127.0.0.1:27017. but it's advised to cahnge these in env variables.

This is an implementation issue and that is why this is in "Issues" thread.

Let me know if you can

[2018-09-07 13:15] zgelp commented on #566
Changing db IP to **DB_HOST=255.255.255.255** is optional, on master branch there is this configuration in **server.production.js**:

`// config used by server side only
const dbHost = process.env.DB_HOST || '127.0.0.1';
const dbPort = process.env.DB_PORT || 27017;
const dbName = process.env.DB_NAME || 'shop';
const dbUser = process.env.DB_USER || '';
const dbPass = process.env.DB_PASS || '';
cons

[2018-09-07 15:39] ghost commented on #566
Thank you , it worked

[2018-09-08 13:01] SnijkoVladislav commented on #385
@francesco-taioli  I'm sorry, but I'm not working with this project anymore ¯\_(ツ)_/¯

[2018-09-09 16:16] demodes opened #567 "problem with https"
Hi, I got following message in console:
"Mixed Content: The page was loaded over HTTPS, but requested an insecure image. This content should also be served over HTTPS. "
and after clicking next to URL (or reload button) I got this: "your connection to this site is not fully secure"
How I can make it securu?

I did deploy the cezerin on the digital ocean according to https://github.com/cezerin/ceze

[2018-09-09 19:25] demodes commented on #567
I fixed it by adding actual domain name in dashboard. My fault

[2018-09-09 19:25] #567 closed, assigned to nobody

[2018-09-09 23:22] AdamDenoon opened #568 "Tax"
I am seeing that there are tax fields relative to products, orders, and billing addresses, but I'm not seeing where tax settings can be adjusted. Are there any tax-calculating functions in place, or are these columns just there for future development?

[2018-09-10 11:01] OkToe1 opened #569 "How do I install this on windows ?"

[2018-09-10 11:12] #569 closed, assigned to nobody

[2018-09-11 18:24] webeli opened #570 "Demo store doesn't work"
Can't access https://store.cezerin.com/

[2018-09-12 01:17] nguyentran4896 commented on #570
![image](https://user-images.githubusercontent.com/26730546/45396173-19c31400-b664-11e8-9d4b-3a0e65199253.png)
more info

[2018-09-12 05:52] #565 closed, assigned to nobody

[2018-09-12 08:48] #566 closed, assigned to nobody

[2018-09-13 21:20] dewelloper commented on #397
npm i --f

[2018-09-15 21:58] dewelloper commented on #570
Look in cezerin-client there are a file webStoreClient.Js there wood be urls like below
baseUrl: 'https://api.cezerin.com/v1' and https://api.cezerin.com/v1/account/v1

i think the authentication server time settings was backwarded https://api.cezerin.com/v1/account/v1

[2018-09-16 19:45] freakk101 commented on #534
what if we want to display the images associated to that option in gallery section ?

[2018-09-18 03:12] nguyentran4896 commented on #544
did you set `developerMode: false` yet?
set this will prevent authorizing when go to admin page

[2018-09-19 03:39] AdamDenoon opened #571 "Can't send email"
I'm getting a weird error when trying to obtain an email for sign-in:

`error: Email send failed Error: 139689167857472:error:140770FC:SSL routines:SSL23_GET_SERVER_HELLO:unknown protocol:../deps/openssl/openssl/ssl/s23_clnt.c:827`

My SMTP settings are correct.

[2018-09-19 03:40] AdamDenoon opened #572 "Token in Header"
I know I'm supposed to pass the token in the header, and I know how to create an access token record in the db/dashboard, what what actual token value to I pass in the header? All I'm given is the email address associated with the token (no particular token value).

[2018-09-19 18:18] noenteas opened #573 "Error install"
![image](https://user-images.githubusercontent.com/30532126/45772876-7a2af600-bc0e-11e8-8945-7dddbd8f069a.png)

I have this error. :(

[2018-09-20 03:20] nguyentran4896 commented on #572
When clicking `Generate token`, there will be a popup with token inside
![image](https://user-images.githubusercontent.com/26730546/45793970-8f5f5d80-bcbe-11e8-9e46-6b11d91fdfd3.png)
And like it said, you have to copy it, and it just apear one time.

[2018-09-20 03:20] nguyentran4896 commented on #572
Example adding token when calling API via postman
![image](https://user-images.githubusercontent.com/26730546/45794029-d9484380-bcbe-11e8-914b-698b3a49361f.png)

[2018-09-20 14:56] #573 closed, assigned to nobody

[2018-09-20 14:57] noenteas opened #574 "How delete Disqus"
Hey, can help for delete this section "disqus"

![image](https://user-images.githubusercontent.com/30532126/45827175-815c0d80-bcbb-11e8-8972-ec4c328ad63b.png)

[2018-09-20 15:53] freakk101 commented on #574
in /theme/src/components/productDetails/index.js on line number 5 find and remove
`import Disqus from '../comments/disqus';`
&
remove  line number 196 to 205 `{themeSettings.disqus_shortname &&
						themeSettings.disqus_shortname !== '' && (
							<section className="section">
								<div className="container">
									<Disqus
										shortname={themeSettings.disqus_shortname}
										iden

[2018-09-20 16:44] noenteas commented on #574
Thanks

[2018-09-20 16:44] #574 closed, assigned to nobody

[2018-09-20 16:48] noenteas opened #575 "Theme customization"
Hi, When wanting to install a theme I get an error in the command line, now I wanted to know how could improve the styles or what formats of themes the application supports.

Where could I find themes to improve the styles? Help.

[2018-09-21 08:45] jferencik commented on #527
@ceracera did you manage to get the changes to some stable point? what is the status of the work?
thanks

[2018-09-21 08:48] ceracera commented on #527
No, I gave up :( I had trouble with admin part and did not have the time to work on it. Maybe later. I will post here.

[2018-09-21 10:08] vctqs1 opened #576 "How to customize code?"
I want customize homeSlider.js. And run build:watch. But it not work.

I try to cosole.log something to check. But it not show. And Where file css can change

[2018-09-21 14:10] ghost opened #577 "Complete ecommerce solution"
Does this software is fully functional and complete ecommerce solution or not ? how much efffort requires to customise home page and layout and does it have any sort of support and documentation?

[2018-09-21 19:47] nteej commented on #388
@restmount,its working perfectly.Thanks a lot.

[2018-09-21 22:26] dewelloper commented on #577
Hi Azambadar,

What wood you like to do ? Yes this is fully functional and the effort changes according your requirements. You can see demo project and define your requirements.
Iam not the owner of this project but i can support if you need
The documentation is in source files but very general

Technically you can see full dependencies on package.json file
This project has been used to https://ma

[2018-09-22 01:40] channingbox opened #578 "What about vue.js , replace react."
What about vue.js , replace react.

[2018-09-22 13:56] ghost commented on #577
Hi dewelloper, I want to set up online store in the UK, I read this software is passwordless , and documents are not enough to understand fully.

Can you customise this including backend as well?

[2018-09-23 05:06] heartstchr commented on #278
I can create the documentation. Please connect me to the developer for this part @restmount

[2018-09-23 11:20] ravitalari opened #579 "Needs CCAvenue Payment Gateway Integration"

[2018-09-24 11:15] ravitalari opened #580 "when can we expect the next release. Very nice project"
when can we expect the next release. Very nice project. Really liked the approach.

[2018-09-24 14:34] hoflish commented on #576
Hi @vctqs1,
you can customize User Interface (theme) from _`[root_path]/theme`_ folder.

- under _`[root_path]/theme/src`_ , you find React components
- _`[root_path]/theme/assets/scss`_ contains `.scss` files

Hot reload not supported yet, so you need to restart store (`npm run start`) after each build.

[2018-09-24 14:36] hoflish commented on #575
Hi @bkerberos,
See #576

[2018-09-24 17:32] neunygph opened #581 "Store landing page failed to load"
Hi,

I'm new to Cezerin and this is my first time set up. After running <code>npm start</code>, I can was able to run the admin landing page successfully, but going to the store landing page/home page, I got page not found error. Please see the below link:
https://drive.google.com/file/d/1XlR59mN1aHxJgM6unddklKaK3R90xeIE/view?usp=sharing.

Also I don't see any index.js or index.html from <code>\pu

[2018-09-24 17:44] neunygph opened #582 "Failed to export theme"
Hi,

I was browsing admin site for testing, I tried to export theme and I got the below error message, I'm using Windows 10 x64.
https://drive.google.com/file/d/1dgIL6URFJAplUboTD5fDzolAZ_Odf49d/view?usp=sharing

Thanks,
Phuong

[2018-09-24 17:50] neunygph opened #583 "Server application start point file is missing"
Hi,

After running <code>npm run build</code> many times, the <code>\src\index.js</code> is still missing for me. Is it supposed to be there ? Please see the below screenshot for my build output.
https://drive.google.com/file/d/16PqtDneK0zcFbbFOYScWupOUXeIlh1U9/view?usp=sharing

Thanks,
Phuong

[2018-09-24 18:05] neunygph opened #584 "Missing optional dependencies"
Hi,

After running <code>npm install</code>, I have 2 warning messages
<code>
C:\Git\cezerin>npm install
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.2.4 (node_modules\fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.2.4: wanted {"os":"darwin","arch":"any"} (current: {"os":"win32","arch":"x64"})
</code>
Does this mean this is supposed to ru

[2018-09-24 18:28] neunygph opened #585 "Run with other NoSQL"
Hi,

Is it possible to use other NoSql other than MongoDB, for instance AWS DynamoDB ?

Thanks,
phuong

[2018-09-24 22:25] bharat-dpd opened #586 "where I can find the tables schema ?"
do we have any documentation or defined schema structure?

[2018-09-25 21:11] henry-49 opened #587 "I go this Error when trying to create this array of Objects"
ERROR in ./src/app/employees/list-employees.component.ts
Module parse failed: Invalid number (19:29)
You may need an appropriate loader to handle this file type.
|                 gender: 'Male',
|                 email: 'henr@web.de',
|                 phoneNumber: 0937463838,
|                 contactPreference: 'Email',
|                 dateOfBirth: new Date('08/09/1982'),

[2018-09-28 07:34] nguyentran4896 commented on #586
As I see, there is no document about schema now. You can follow up adding more fields or changing them.
Have a look [here](https://github.com/cezerin/cezerin/blob/master/src/api/server/services/orders/orders.js#L329) to have more details about schema structure.

[2018-09-28 07:39] nguyentran4896 commented on #584
Don't know but I saw that warning for a very long long time in so many many NodeJS projects. I just ignored it and everything is going fine up to now. So just keep dancing ^^

[2018-09-28 07:42] nguyentran4896 commented on #583
There is no `src/index.js` file. Look into `package.json` to see entry file to start.

[2018-09-28 08:51] neunygph commented on #583
Hi @nguyentran4896

Thanks for the response, how come in the application structure section, it shows that there is an index.js under /src folder.
.
├── config                   # Project and build configurations
├── dist                     # Distribution folder
├── locales                  # Text files
├── logs                     # Log files
├── public                   # Static public assets an

[2018-09-28 09:11] nguyentran4896 commented on #583
You're on the right way. It looks like the document is out of date a lot, including [this](https://github.com/cezerin/cezerin/blob/master/docs/README.md) Readme

[2018-09-28 15:38] neunygph commented on #583
Can you show me where the files for the store are located?

[2018-09-29 02:22] nguyentran4896 commented on #583
frontend store code is in `src/store/` (function code) and `theme/src` (layout code)

[2018-09-29 03:35] neunygph commented on #583
Look like they are missing for me? Do you have the original frontend store code?

[2018-10-02 06:47] nguyentran4896 commented on #583
they're still there https://github.com/cezerin/cezerin/tree/master/theme/src
just clone or fork the master branch

[2018-10-03 13:28] eddiezzy1 opened #589 "i can't edit setting in admin page"
i clone and run this cezerin at my Cloud
and connect mongoDB via mlab mongodb

when i start or pm this Project i cant edit or add anything

thanks for your time

[2018-10-03 16:17] neunygph commented on #581
Can someone help me with this issue please ?

[2018-10-04 13:00] demodes commented on #589
Hi, did you follow "How to deploy a Cezerin on Ubuntu 18.04.1 (from GitHub)"?
https://github.com/cezerin/cezerin/blob/master/docs/how-to-deploy-a-cezerin-on-ubuntu-18-04-1-github.md

If you do not have any specific requirements, I would advise you to continue according to the above mentioned guide.

Also,  do you have any errors showing?

[2018-10-05 01:44] singular1ty94 commented on #570
It's still down for me, which is frustrating as I have business stakeholders in my team who wanted to view that demo in order to decide if we should use Cezerin. For now we're going to spin it up ourselves on AWS but it would be nice if the demo worked.

[2018-10-05 03:46] wubuyun opened #590 "415 (Unsupported Media Type)"
Nginx image problem with https
415 (Unsupported Media Type)

[2018-10-05 04:55] nguyentran4896 commented on #590
did you config the `nginx.conf` right? plz give more detail so we can figure it out

[2018-10-05 05:04] wubuyun commented on #590
resolved, config error. Thanks

[2018-10-05 05:04] #590 closed, assigned to nobody

[2018-10-05 07:00] wubuyun opened #591 "Adding common pages"
db.pages.insertMany([
  {slug: '', meta_title: 'Home', enabled: true, is_system: true},
  {slug: 'checkout', meta_title: 'Checkout', enabled: true, is_system: true},
  {slug: 'checkout-success', meta_title: 'Thank You!', enabled: true, is_system: true},
  {slug: 'cart', meta_title: 'Cart', enabled: true, is_system: true},
  {slug: 'login', meta_title: 'Login', enabled: true, is_system: true},
  {s

[2018-10-05 07:48] nguyentran4896 commented on #591
Could you explain more clearly?

[2018-10-05 09:05] dewelloper commented on #583
Delete dis folder and rebuild

[2018-10-05 15:22] wubuyun commented on #591
not show links Register, Login.

[2018-10-08 12:14] jdutriaux commented on #564
Hi, I'm getting the same behavior. Here is the output in the browser console :

[code]

[code]

Maybe I misconfigured something.

[2018-10-08 12:24] nguyentran4896 commented on #564
Like `a` tag needs a `href` property, `NavLink` needs `to` to define a route.
Add `to` property into `NavLink` component will solve the problem.

[2018-10-08 12:36] jdutriaux commented on #564
It seems that `NavLink` elements in `CartItem` has a `to` property but its undefined (as seen in https://github.com/cezerin/cezerin/blob/master/theme/src/components/header/cart.js).

[2018-10-09 17:51] selmi-karim opened #592 "Connection timed out"
Error 522 Ray ID: 4672ae015d14b7d1 • 2018-10-09 17:49:13 UTC
Connection timed out
**What happened?**
The initial connection between Cloudflare's network and the origin web server timed out. As a result, the web page can not be displayed.

**What can I do?**
If you're a visitor of this website:
Please try again in a few minutes.

**If you're the owner of this website:**
Contact your hosting provide

[2018-10-09 20:38] dewelloper commented on #592
Hi Kerim

This error interesting with hosting provider not interested with Cezerin

[2018-10-09 21:06] selmi-karim commented on #592
yeah i know.
@dewelloper  it's possible to use heroku to create demo for this beautiful work.

[2018-10-10 07:31] zverexe commented on #499
I'm new to cezerin and I do not fully understand the protection of my admin panel. How can I protect it from any other user to access? It is available by putting admin in the address bar. I generate Personal access token but again I do not understand how it is protect my admin panel

[2018-10-11 10:38] jdutriaux commented on #562
@dougkulak The link you sent seems dead :(

[2018-10-11 12:46] jdutriaux opened #593 "Cart is shown as empty when I refresh Checkout page"
Hello, when I refresh the `/checkout` I get a message saying "Your cart is empty", clicking on the cart button in the topbar says the same thing.
To restore my cart and get back to the checkout page : I need to add a product in it.

[2018-10-11 13:23] jjgumucio commented on #385
Could you elaborate a bit more on this?
Thanks in advance!

[2018-10-11 21:08] #591 closed, assigned to nobody

[2018-10-12 05:57] neunygph opened #594 "Store failed to load"
Hi,

I'm new to Cezerin and this is my first time set up. After running npm start, I can was able to run the admin landing page successfully, but going to the store landing page/home page, I got page not found error. Please see the below link:
https://drive.google.com/file/d/1XlR59mN1aHxJgM6unddklKaK3R90xeIE/view?usp=sharing.

Also I don't see any index.js or index.html from \public\content or \sr

[2018-10-12 06:11] neunygph commented on #583
Hi @dewelloper
I'm having trouble opening the store page, can you help me out please ? Please see screenshot at
https://drive.google.com/file/d/1XlR59mN1aHxJgM6unddklKaK3R90xeIE/view?usp=sharing.

Thanks,

[2018-10-12 08:30] dewelloper commented on #583
Hi nunygph,
Your build apearing successfull but i think your before builds created (with transpile babel webpack etc..) some different js files under the dist folder. Clear there and rebuild, after run start then you will see localhost:3000

[2018-10-12 08:34] dewelloper commented on #583
share your "npm start" result screen

[2018-10-12 08:56] neunygph commented on #583
Hi @dewelloper
Thank you for the response, I cleared and deleted the dist folder, rebuild. All file inside the "dist" folder got generated again. I did the same thing twice but I"m still having the same issue. I'm able to launch the admin page successfully but not the store, not sure why. Please see my shared screen below.
Build screenshot : https://drive.google.com/file/d/17BAbHHqJt3I2f-NO9BGy8k3

[2018-10-12 08:59] dewelloper commented on #583
There iş no any error in your code :) get a pull request

12 Eki 2018 Cum 11:56 tarihinde Phuong Nguyen <notifications@github.com>
şunu yazdı:

[2018-10-12 09:01] neunygph commented on #583
Yea I did many times but still not working :)

[2018-10-12 09:02] neunygph commented on #583
Do you have /src/index.js in your project folder ?

[2018-10-12 09:11] dewelloper commented on #583
There iş no you can control online codes

12 Eki 2018 Cum 12:02 tarihinde Phuong Nguyen <notifications@github.com>
şunu yazdı:

[2018-10-12 10:40] hoflish commented on #594
Hi @neunygph ,
did you run `npm run setup` ?

[2018-10-12 10:49] dougkulak commented on #562
Yeah the original owners are MIA I guess. Will probably have to just fork
and promote the fork
On Thu, Oct 11, 2018 at 3:38 AM Julien Dutriaux <notifications@github.com>
wrote:

[2018-10-12 15:24] SnijkoVladislav commented on #385
@jjgumucio I apologize but I do not remember all the magic (

[2018-10-14 02:55] noenteas commented on #388
![image](https://user-images.githubusercontent.com/30532126/46912076-82870000-cf32-11e8-800c-310b643cfd23.png)

Login not found :/

![image](https://user-images.githubusercontent.com/30532126/46912079-9cc0de00-cf32-11e8-9a85-ed9d9584cd46.png)

Help me !!

[2018-10-14 06:11] noenteas commented on #576
Where or how do you get themes that are compatible?

[2018-10-14 06:11] noenteas commented on #582
Where or how do you get themes that are compatible?

[2018-10-14 15:08] noenteas commented on #591
How did you solve it?

[2018-10-14 15:17] noenteas commented on #420
Was it possible to implement the login?

[2018-10-14 16:10] noenteas opened #595 "How change bulma to Bootstrap 4 ?"
Hello, I would like to know if someone logor migrate from bulma to bootstrap 4

[2018-10-14 20:31] clemente-xyz commented on #420
???

[2018-10-14 20:38] dougkulak commented on #420
This project is d e a d, dead.
On Sun, Oct 14, 2018 at 1:31 PM Clemente Serrano <notifications@github.com>
wrote:

[2018-10-15 07:55] lortschi commented on #527
Great job @ceracera, please give a sign if you have made a pull request, thx!

[2018-10-15 09:43] peymanasgri commented on #420
It's bad news For me

[2018-10-15 11:46] lortschi commented on #420
This is really a bad news, coz I got love this ecommerce node solution. This is one of the best and lightweighted on scene now :'(

[2018-10-15 11:49] lortschi commented on #420
Hi @isozist is there a possibility to fork your repo?

[2018-10-15 12:16] clemente-xyz commented on #420
@lortschi I also have new improments in this project. With my team added Elliot chatbot, our deep-learning based agent that talks in real time with costumers in the ecommerce (@jjgumucio). We also enable a chilean payment gateway. Everything in a private repo.

We want to share our code to the Cezerin community to contribute with the project.

Same as you @freakk101 , in our project roadmap is inc

[2018-10-15 12:46] lortschi commented on #420
Hi @ClementeSerrano and @freakk101 thats sounds awesome and very exciting! I can't wait for your shares to this or another repos. I appreciates really your work!
I coded between a Google Spreadsheet product importer module. Now I can import tons of products with one button click into the database and dashboard. If someone has interests on the code just give me a sign.

[2018-10-15 12:56] dougkulak commented on #420
Ok so here is the deal everyone. We’ve all been contributing but the
original owner is MIA. I’m happy to help manage the project with some
others, but want to make sure no one else has a fork that’s already super
far along. I have a lot of work done on mine and I can merge in everyone
else’s too. If this sounds good I suppose we can commandeer this project
but I’m not sure about proper etiquette a

[2018-10-15 16:32] clemente-xyz commented on #420
Sounds great!!! I’ll send you my contributions and roadmap.

Excelent 💪

[2018-10-15 17:07] dougkulak commented on #420
Right on, look forward to it!

*Doug Kulak*
Web Guru + Startup Addict
*Doing Good for Humanity*
dougkulak.com

On Mon, Oct 15, 2018 at 9:32 AM Clemente Serrano <notifications@github.com>
wrote:

[2018-10-15 19:50] noenteas commented on #420
When the changes are going up, to be able to feed back the project at least with small changes. 👍

[2018-10-16 10:23] dougkulak commented on #420
Awesome, thanks everyone for the support. I have already received several
e-mails. Bottom line is I think we need a new name, since we can't use
cezerin/cezerin unless you guys want to use dougkulak/cezerin. I did make a
logo for Cezerin if we want to use it, it's on the pull request. Anyways,
if we can come up with a new name that starts with a "C", we can use the
logo I already made and just cha

[2018-10-16 16:30] neunygph commented on #420
This is a great new for me since I'm fresh new to Cezerin and I have been having trouble launch the store home page but do not know who to reach out for help.
When are you putting it up ? If you change the name, would it affect anyone who has been using Cezerin for a long time ?

[2018-10-16 16:39] neunygph commented on #594
Hi @hoflish
Yes, I do the following order over and over again but the store home page still not loading correctly for me. I did
git clone https://github.com/cezerin/cezerin.git cezerin
cd cezerin
npm install
npm run build
then change the db connection string
npm run setup
npm start
Here is my setup screenshot
https://drive.google.com/file/d/11_hzV9oJkR5y3jXWAPzY72Mz-G1N9Csi/view?usp=sharing
Thanks

[2018-10-17 13:35] noenteas commented on #420
We are interested in knowing the release date, as I am sure there will be many people waiting with anticipation and when the launch is sooner the better.

[2018-10-17 14:49] clemente-xyz commented on #420
Hi everyone!

@dougkulak I think we can create a new name and dotcom. I’ll think in one 🤔

I will send you my contributions soon so you can take a look to them.

How are we going to do it? Just open a new repo , buy the domain, deploy the site and collect all contributors to test the new updates?

[2018-10-17 14:53] clemente-xyz commented on #420
My project version is already deployed, you can see it at utipsprojects.cl

We integrate a deep-learning based chatbot (totally configurable by the admin panel) and new chilean payment gateways

[2018-10-17 15:18] peymanasgri commented on #420
ok your site is runing but login not yet used !
my site with wordpress and i try use cezrin+php like this web site [https://urmode.net/react](https://urmode.net/react) and [http://grease-trap.ir](http://grease-trap.ir)

[2018-10-17 15:28] derskeal commented on #420
I was going to suggest this last month. Reached out to original contributors on twitter but no response.

[2018-10-17 15:37] derskeal commented on #420
I'm delighted with the plans to move this project forward.

[2018-10-17 16:36] jjgumucio commented on #385
Now you can run:

1. npm run build:watch
2. pm2 start process.json

Then monitor the logs:

1. pm2 logs api
2. pm2 logs store

[2018-10-17 16:41] noenteas commented on #420
count me in

[2018-10-17 17:32] neunygph commented on #420
This is existing

[2018-10-17 22:41] hoflish commented on #420
I already deployed a version of this project (still under development), you can see it at https://bit.ly/2QiWG1G

[2018-10-17 22:48] neunygph commented on #420
Hi @hoflish ,

Do you have it for download anywhere on github ? I have been having problem launching the store site from the original cezerin project so I just want to give it a try with another source version other than the original version to see how it goes. Thanks in advance

[2018-10-18 00:06] hoflish commented on #420
Hi @neunygph ,
I'm still working on some bugs and features, I will push it to github during this weekend

[2018-10-18 02:15] neunygph commented on #420
oh nice, thanks @hoflish

[2018-10-18 02:17] noenteas commented on #420
thanks 😄 @hoflish

[2018-10-18 02:56] dougkulak commented on #420
Ok everyone we will move forward with a new name and a new system that I
will host and start. The name will be CaesarCMS or CaesarCommerce and I’ve
already secured the dotcom for both. Let me know which you’d rather brand
as and I will post logos for both of them shortly. I will also set up the
repo with base Cezerin and my enhancements as a starting point. Then, I
will post contribution instructi

[2018-10-18 02:56] dougkulak commented on #420
Oh and thank you to Lorant for coming up with the name!
On Wed, Oct 17, 2018 at 7:54 PM Doug Kulak <doug.kulak@gmail.com> wrote:

[2018-10-18 03:26] neunygph commented on #420
I think CaesarCommerce is better because this project is not just about CMS.

Phuong Nguyen

On Oct 17, 2018, at 7:57 PM, Doug Kulak <notifications@github.com<mailto:notifications@github.com>> wrote:

Oh and thank you to Lorant for coming up with the name!
On Wed, Oct 17, 2018 at 7:54 PM Doug Kulak <doug.kulak@gmail.com<mailto:doug.kulak@gmail.com>> wrote:

—
You are receiving this because you wer

[2018-10-18 03:28] noenteas commented on #420
I like CaesarCommerce <3

[2018-10-18 07:36] derskeal commented on #420
@dougkulak I kinda don't like the "Caesar" in it. How about CezCommerce? OR CazeCommerce?

[2018-10-18 09:06] dougkulak commented on #420
No worries don’t expect everyone to love it. It’s hard to spell that’s for
sure but anyone educated enough to need CaesarCMS probably knows how to
spell it. And I think it should be a CMS with e-commerce module built-in,
not e-commerce platform with CMS ability. I already have a multi-language
CMS in NodeJS we can start to use to enhance Cezerin but I think UI will
need work and I’m happy to mock

[2018-10-18 09:08] dougkulak commented on #420
Oh I forgot to address the name. Problem with Cez and even Cezerin is you
have to spell it out to every single person you tell it to. CaesarCMS or
CaesarCommerce you don’t. But still, open to other names. Don’t love Cez or
Caze for above reasons though. Let’s keep the ideas flowing! The more the
better everyone! We can do it!!!
On Thu, Oct 18, 2018 at 2:06 AM Doug Kulak <doug.kulak@gmail.com> wrot

[2018-10-18 13:07] clemente-xyz commented on #420
CaesarCommerce is awesome as name for the project. I like it 👍

[2018-10-18 15:02] dougkulak commented on #420
Yeah it’s looking like everyone prefers CaesarCommerce so that’s the name
I’ll focus my energy on for now. We still have CaesarCMS.com that I’ll 301
over to CaesarCommerce.com but still. Ok excellent, thank you everyone for
your help and patience! Need a few days, up to a week, to get everything
set up. Check back soon and bookmark CaesarCommerce.com!
On Thu, Oct 18, 2018 at 6:07 AM Clemente Serra

[2018-10-18 15:15] clemente-xyz commented on #420
@dougkulak I can help you with caesarcommerce.com landing page. I was thinking in built it in React. I have my own website boilerplate and I can work in developing the dotcom source code!

Let me know if you are interested

[2018-10-18 15:42] neunygph commented on #420
This is exciting, can’t wait :)

Phuong Nguyen

On Oct 18, 2018, at 8:03 AM, Doug Kulak <notifications@github.com<mailto:notifications@github.com>> wrote:

Yeah it’s looking like everyone prefers CaesarCommerce so that’s the name
I’ll focus my energy on for now. We still have CaesarCMS.com<http://CaesarCMS.com> that I’ll 301
over to CaesarCommerce.com<http://CaesarCommerce.com> but still. Ok excel

[2018-10-18 20:09] mounop opened #597 "Theme and settings reset to default"
Hello Guys,

First of all, thank you for your project, really good product !!
Here is my issue, everyday the theme and some settings are reset to default. I don't know the root cause of this.
I deployed the product using your tutorial on how to deploy it on Ubunto 18. The only change I made is to add --restart=always to the docker command.

Thank you for your help,
Mounir

[2018-10-18 21:45] clemente-xyz commented on #420
Front-end and design

[2018-10-18 21:48] noenteas commented on #420
Front-end and design.

[2018-10-19 00:19] huanghunz commented on #562
Hi dougkulak, yes please, that will be very helpful!

[2018-10-19 08:08] lortschi commented on #420
Front-end, back-end and design

[2018-10-20 14:39] noenteas commented on #420
Is the new Caesar Commerce updates now available?

[2018-10-20 15:14] dougkulak commented on #420
I am working on it this weekend, should be up next week! Check back soon!
On Sat, Oct 20, 2018 at 7:39 AM bkerberos <notifications@github.com> wrote:

[2018-10-20 15:21] dougkulak commented on #562
Yes we are doing just that! Everyone bookmark CaesarCommerce.com and check
back in a week!!! Visit DougKulak.com and click “Let’s Talk” and tell me if
you want to help contribute, a bit about yourself and your background, and
what your specialties are and what you most see yourself doing to help out
the new Cezerin fork called CaesarCommerce! This is going to be great, we
just need to allow some t

[2018-10-20 15:22] dougkulak commented on #420
https://join.slack.com/t/caesarcommerce/shared_invite/enQtNDU5OTU4ODIyMzUyLWU2NWRmMzI3MTMxYTlkODFkZTdmZTM4MjdiNWQ2NTg4MzIyNDE1Yzc0ZGY5ZmFkNDc2Njc5Y2NkNWQxNDk4ODM
On Sat, Oct 20, 2018 at 8:13 AM Doug Kulak <doug.kulak@gmail.com> wrote:

[2018-10-20 15:22] dougkulak commented on #527
https://join.slack.com/t/caesarcommerce/shared_invite/enQtNDU5OTU4ODIyMzUyLWU2NWRmMzI3MTMxYTlkODFkZTdmZTM4MjdiNWQ2NTg4MzIyNDE1Yzc0ZGY5ZmFkNDc2Njc5Y2NkNWQxNDk4ODM
On Mon, Oct 15, 2018 at 12:55 AM Lortschi <notifications@github.com> wrote:

[2018-10-20 18:38] amp9020 commented on #527
@dougkulak this not an answer to the issue, you already posted that you opened a slack channel. stop spamming the issues.

[2018-10-23 02:38] neunygph commented on #562
Hi @dougkulak

Any update on moving this project to CaesarCommerce.com ?

Thanks,

[2018-10-23 16:38] guillmz opened #598 "Help to setup Cezerin in my website with DigitalOcean VPS"
Hello to all,

I would like to know if somebody could help me to setup cezerin in my website
I am willing to pay for the service.

my email its guillezf@gmail.com
Thanks

[2018-10-25 09:16] ghost opened #599 "New Theme Creation Documentation"
Is there any documentation or instructions for new theme creation/building?

[2018-10-26 14:44] demodes commented on #597
Hi,

why you add --restart=always? I think this is the reason why your settings are reset.

[2018-10-27 08:01] ravitalari opened #600 "Interested to work with you"
@sonufrienko sonufrienko when will the next commit, waiting from long back. I loved this application and I would like to contribute the development part. Please connect me ravi.143all@gmail.com

[2018-10-28 07:51] mounop commented on #597
Hello,

The reason behind the --restart=always was that the database kept shutting down after running a few hours.
Alright I'll take it out and try again.

Thank you,

[2018-10-29 19:23] wolfmaster8 commented on #564
I don't know if it's happening the same thing for you guys. But I use the WebStorm IDE, and it automatically adds the imports, it imported the wrong  `Navlink`.
It imported `import NavLink from "react-router-dom/es/NavLink";`

I imported the correct `NavLink` and now is working.

[2018-11-01 02:51] knarf20 commented on #350
How did you solve it, could you help me?

[2018-11-01 14:33] mounop commented on #597
Hi,

The issue is still there. Is there a script pushing demo data that is present in the project ?

Thanks,

[2018-11-01 18:08] demodes commented on #597
Hi,

there is "npm run setup" which according to docs do
1) test MongoDB connection
2) add default data
3) create basic indexes

If you still will have some issues I would advise to follow this guide. It worked perfectly for me.
https://github.com/cezerin/cezerin/blob/master/docs/how-to-deploy-a-cezerin-on-ubuntu-18-04-1-github.md

[2018-11-04 00:37] thunderwin commented on #578
same question..

[2018-11-04 22:49] gjsjy opened #602 "CEZERIN - Api client"
Clarification question:

Why api client authorization process has to receive our customer email information to CEZERIN server?

UPDATE:
Realized that its for app store of CEZERIN. Closing this.

![image](https://user-images.githubusercontent.com/17073417/47970932-bd73e380-e059-11e8-8894-ec2fa7aace2e.png)

Gnana

[2018-11-04 22:57] gjsjy commented on #602
Just noticed that **authorizeInWebStore** is not called anywhere in CEZERIN code.
Appreciate if someone explains the need for this CEZERIN server request and confirm it's not a risk.

![image](https://user-images.githubusercontent.com/17073417/47971024-d761f600-e05a-11e8-970c-65c7fe1223db.png)

[2018-11-05 02:14] #602 closed, assigned to nobody

[2018-11-05 05:20] maurosergiosilva commented on #420
Hi @sonufrienko, can I help with that?
I thing its a good idea use Passport.js, It makes Social Login Easy, since it has many providers.

[2018-11-06 00:12] maurosergiosilva commented on #420
My questions about that:
1. Costumer and User are same models? In future if you want to have Vendor, or other king of  User, these have impacts.
2. We can use Passport.js?
3. I think at least 2 Strategies could be used: Local (Access in MongoDB), and Facebook. Facebook will illustrate one example of Social Login.
4. Login will be done as a Modal or as new pages?
Thanks

[2018-11-07 03:21] brandoncollins7 commented on #446
Having the same issue here. Files appear to be changed in the dist folder but changes are not reflected in the browser, even after a refresh. Building takes a long time, has anyone found a solution to this?

[2018-11-08 17:49] jjgumucio commented on #578
Why would it be a good idea?
The solution is working as is. There is no need to change the frontend framework.

[2018-11-09 23:41] pBread commented on #446
I'm running into this issue as well. When I update my code, it doesn't refresh the page unless I stop the process and re-run npm start.

[2018-11-11 00:24] pBread commented on #446
This worked for me ... https://github.com/cezerin/cezerin/issues/385

![image](https://user-images.githubusercontent.com/4473570/48307594-d840cf00-e515-11e8-9c9e-35e453c92f52.png)

[2018-11-11 19:00] tigrankhachikyan commented on #598
This might be self explanatory.
https://github.com/cezerin/cezerin/blob/master/docs/how-to-deploy-a-cezerin-on-ubuntu-18-04-1-github.md

[2018-11-13 16:37] brandoncollins7 commented on #446
pm2 start process.json seems to continuously pop up and close multiple cmd windows while it's running, blocking my keyboard.

[2018-11-13 16:58] neunygph commented on #446
I have the same issue

[2018-11-14 22:19] renatobezerra commented on #594
Hi. I have a same issue.

I included the categories, products and mark enable all them.
I did go to the  settings/theme and I finded home panel. This panel contains a field "Featured Products SKUs". How to use this?

Tks.

[2018-11-16 00:39] Boytobeaman commented on #544
+1

[2018-11-21 20:33] jrsantur commented on #266
Where is the database model?

[2018-11-23 19:40] dewelloper commented on #563
I have replying my question myself :)
1- In frontend webpack
2- ın backend vscode settings like that
{
    "version": "0.2.0",
    "configurations": [
        {
            "type": "node",
            "request": "launch",
            "name": "Debug",
            "program": "${workspaceFolder}/src/api/server/index.js",
            "runtimeExecutable": "${workspaceFolder}/node_modules/.bin/babel-nod

[2018-11-26 14:13] sankar2389 commented on #457
@sonufrienko I'm looking for a freelance support for Payment Integration & few customizations. My email id is sankar2389@gmail.com

[2018-11-27 20:43] dewelloper commented on #420
Hi bros !! is there any code interesting with customer login now ?

[2018-12-04 12:47] prvn3294 commented on #452
Is there any update on customer registration and login functionality ?

[2018-12-04 15:35] jjgumucio commented on #552
Subcategories are created as regular categories.
After you create a category (the one you need as a subcategory), you have to "move" it (folder icon on the top right corner) to the category you want.

[2018-12-06 09:01] shubham1164 opened #604 "Can I change product pricing from dollar to something else like rupee?"
Can I change product pricing from dollar to something else like rupee?

[2018-12-07 10:57] shubham1164 commented on #604
That was very easy. I just need to update the settings in the Dashboard. Thanks.

[2018-12-07 10:57] #604 closed, assigned to nobody

[2018-12-07 20:21] IvanLjubicic commented on #527
Hi guys, any further plans regarding language switcher?
Thanks

[2018-12-09 04:54] shubham1164 opened #605 "Only absolute URLs are supported???"
I have set up the code as directed in the documentation. But I am struggling with localhost and my real domain setup issue. I am using nginx and tried different combination of cezerin/config/*.js versions on linux server to make it work.

Issues facing:
1. Sometimes Website shows but only store don't show up in any site (neither in localhost nor in real domain).
2. and sometimes store work in loca

[2018-12-16 13:05] KristofferKay opened #606 "Project dead?"
When will there be a new commit? As the last one was somewhere in August. I dont hope this project is dead because i find it very interesting.

[2018-12-16 20:31] theleolife commented on #606
@Dekto I don't know what happened but it seems the owners is not maintaining anymore, I hope I am wrong @restmount @sonufrienko it's really good project.

[2018-12-17 05:12] neunygph commented on #606
@Dekto since the original creator is not here anymore, we made a new repository here. Everyone is welcome to join https://join.slack.com/t/caesarcommerce/shared_invite/enQtNTA0ODExMjIyNjU3LWRhNTM2YzQ4MzMwMjMzN2Y1ZTNmYTkzMWJiOTg5NmE3OGZmOWRlNzViMmQyOTM1NjZjOGNlMWUyNmU5MzJmNjE

[2018-12-17 05:13] neunygph commented on #600
since the original creator is not here anymore, we made a new repository here. Everyone is welcome to join https://join.slack.com/t/caesarcommerce/shared_invite/enQtNTA0ODExMjIyNjU3LWRhNTM2YzQ4MzMwMjMzN2Y1ZTNmYTkzMWJiOTg5NmE3OGZmOWRlNzViMmQyOTM1NjZjOGNlMWUyNmU5MzJmNjE

[2018-12-17 05:14] neunygph commented on #580
since the original creator is not here anymore, we made a new repository here. Everyone is welcome to join https://join.slack.com/t/caesarcommerce/shared_invite/enQtNTA0ODExMjIyNjU3LWRhNTM2YzQ4MzMwMjMzN2Y1ZTNmYTkzMWJiOTg5NmE3OGZmOWRlNzViMmQyOTM1NjZjOGNlMWUyNmU5MzJmNjE

[2018-12-17 05:16] neunygph commented on #595
since the original creator is not here anymore, we made a new repository here. Everyone is welcome to join https://join.slack.com/t/caesarcommerce/shared_invite/enQtNTA0ODExMjIyNjU3LWRhNTM2YzQ4MzMwMjMzN2Y1ZTNmYTkzMWJiOTg5NmE3OGZmOWRlNzViMmQyOTM1NjZjOGNlMWUyNmU5MzJmNjE

[2018-12-17 05:16] neunygph commented on #605
since the original creator is not here anymore, we made a new repository here. Everyone is welcome to join https://join.slack.com/t/caesarcommerce/shared_invite/enQtNTA0ODExMjIyNjU3LWRhNTM2YzQ4MzMwMjMzN2Y1ZTNmYTkzMWJiOTg5NmE3OGZmOWRlNzViMmQyOTM1NjZjOGNlMWUyNmU5MzJmNjE

[2018-12-18 20:40] neunygph opened #607 "New repository"
Hi all,
Since the original creator is not here anymore, we made a new repository here. Please note this new repository is not from the original project creator, it's formed by a group of people who want to keep working on this project. Everyone is welcome to join https://join.slack.com/t/caesarcommerce/shared_invite/enQtNTA0ODExMjIyNjU3LWRhNTM2YzQ4MzMwMjMzN2Y1ZTNmYTkzMWJiOTg5NmE3OGZmOWRlNzViMmQyOT

[2018-12-19 13:46] kmrao14 opened #608 "Authorized .net payment gateway integration"
How can i integrate Authorized .net payment gateway into Cezerin?

[2018-12-20 19:18] demodes commented on #608
good luck with that

[2018-12-24 02:32] anton6 commented on #607
Sorry can you please clarify which is this one? https://github.com/Cezerin2/cezerin2

[2018-12-24 02:40] neunygph commented on #607
That’s our new active repository.

Phuong Nguyen

On Dec 23, 2018, at 6:32 PM, anton6 <notifications@github.com<mailto:notifications@github.com>> wrote:

Sorry can you please clarify which is this one? https://github.com/Cezerin2/cezerin2

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/cezerin/cezerin/issues/607#issuecom

[2018-12-26 19:15] adilfaiz001 commented on #298
how to add access tokens to mongo.

[2018-12-26 20:57] adilfaiz001 commented on #352
@sonufrienko
websocket connection failed on login page.
![enactus](https://user-images.githubusercontent.com/13364400/50457073-e68c6280-097e-11e9-8c2f-e07275a0704c.PNG)

[2018-12-27 12:18] adilfaiz001 commented on #352
After login from email, can't access database in dashboard and getting error as following
![enactus](https://user-images.githubusercontent.com/13364400/50480007-8558a380-09ff-11e9-88b3-43cb7ae7c37e.PNG)

[2018-12-30 21:12] elissaioskon commented on #397
same issue, that happens when i use yarn. Finally with `npm i && npm run build && npm start` it works.

[2019-01-03 14:03] shsunmoonlee opened #609 "Failed prop type: The prop `limit` is marked as required in `CustomProducts`, but its value is `undefin"
Hi, I'd appreciate your help on solving the error on running the application. thanks!

[code]

[2019-01-05 13:56] Kronos127 commented on #455
This is indeed a needed feature. Anyone working on this?

[2019-01-05 19:44] andrclp commented on #413
Hi!
I am getting same error.

<img width="561" alt="screenshot 2019-01-05 at 21 43 53" src="https://user-images.githubusercontent.com/13333811/50728483-20a1f500-1133-11e9-9411-6a6f8bb84340.png">

[2019-01-07 09:24] shsunmoonlee opened #610 "“Category must be created prior to product detail displaying.” Clicking on Product does not open product detail by default #438 https://github.com/cezerin/cezerin/issues/438"
“Category must be created prior to product detail displaying.”
Clicking on Product does not open product detail by default #438
https://github.com/cezerin/cezerin/issues/438

[2019-01-07 14:13] shsunmoonlee commented on #375
This problem persists even when using npm

[2019-01-07 14:16] shsunmoonlee opened #611 "npm run build error Module not found: Error: Can't resolve '../../../config/server' in"
Hi,
I appreciate your help!
I'm getting error when i run npm run build
[code]

[2019-01-08 18:56] selmi-karim commented on #560
same issue

[2019-01-09 06:26] shsunmoonlee commented on #560
I'm trying to change the architecture on this one, and add webpack hot module replacment on react part. Currently, react code is converted to html and rendered from the node.js server. I think it's better to use react-boilerplate architecture with separate nodejs server just for api, or next.js can be an option. If anyone wants to collaborate on re-do the architecture, message me.

[2019-01-09 07:05] neunygph commented on #560
I agree, the server api, even the admin site should be on separated projects. They can be on a single project for example project but it's not an ideal solution if the business grow bigger. For instance, if we have too many request on the store site, it does not make sense if the admin and api server got hit too But this is just a theory, it would be a big change to the architecture.

[2019-01-09 10:50] dewelloper commented on #397
it couldnt seen theme folder while working shallow version of nmp, you can install packet if your npm is stable with the pocket version "npm i --f" otherwise you should upgare to high version of the npm with this command "npm i npm-upgrade" And this is the joined command to building and running the project "npm i && npm run build && npm start" Also if your npm pocket less then project this command

[2019-01-10 09:01] ghost opened #613 "page for product and blog post?"
is that cezerin support page for more post or product?
My shop https://tofu.am

[2019-01-10 16:38] neunygph commented on #613
Does your enventory get updated when a product is checked out?

[2019-01-10 16:39] neunygph commented on #613
Sorry I meant inventory

[2019-01-10 16:40] ghost commented on #613
I'm not sure about that.... I never try to get about inventory, i mean my question is about i have more product or blog post it will have more pages for it i just at one page?

[2019-01-16 03:10] minhcasi commented on #606
Same questions @restmount @sonufrienko, I love this project but it seems there is no updated

[2019-01-16 03:41] shsunmoonlee commented on #560
So I re wrote the script and still have to figure out how to see changes in local npm module 'theme' show up without rebuilding, re-babel-ling. Currently theme has to be babel-led into dist/index.js before it gets served as local npm package.

[2019-01-16 17:55] ldragos1 commented on #532
@themcguy have you found a solution?

[2019-01-16 18:52] ghost commented on #449
Buenas tardes. yo no estoy trabajando el proyecto con docker. hice los pasos para cuando digite localhost:3000/admin me saliera el login, pero no sale.  me podrías ayudar, Gracias. te lo agradecería

[2019-01-17 01:59] channingbox opened #614 "welcome"
welcome to come back!!!!!!!!!

[2019-01-17 05:31] #614 closed, assigned to nobody

[2019-01-18 18:33] victorabraham commented on #544
When I run in production mode with developerMode:false I am getting this error. Can you please help?

[2019-01-18 21:22] LuBuss commented on #606
There is a group of us maintaining a new branch of this repo at https://github.com/Cezerin2/cezerin2

[2019-01-19 07:54] bhaveshbheda commented on #594
i face same probleam ,
but i have error in  "npm run build" ,
"productCategory" collection is not created in database ,
then i create it manually
and run this in sequence
1) npm run setup
2) npm run build
3) npm start

or
1) npm run build
2) npm run setup
3) npm start

[2019-01-24 07:18] #607 closed, assigned to nobody

[2019-01-24 07:20] neunygph opened #615 "New and Active Repository"
Hi all,
Since the original creator is not here anymore, we made a new repository here. Please note this new repository is not from the original project creator, it's formed by a group of people who want to keep working on this project. Everyone is welcome to join.

GitHub:
https://github.com/Cezerin2/cezerin2

Slack channel below:
https://join.slack.com/t/cezerin2/shared_invite/enQtNTE5NzYxMzA5ODc

[2019-01-25 15:54] pherm commented on #615
i'm here, i add your repo

[2019-01-28 02:55] lionelquellery commented on #544
Hi everyone,

I was faced the same issue there a couple of days ago. To solve it, please follow these steps :

### **Fix Jwt Key**

1. Generate a JWT secret key : http://jwtbuilder.jamiekurtz.com/
 Your JWT secret key looks like : eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzN2NCJ7

2. Then, once you have generated one, you need add it in "server.js" file.

<img width="443" alt="screenshot 2019-01-28 at 03 41 12

[2019-01-29 20:09] hangdocgiatot commented on #535
Can you guide me to use it on my domain name? I am very grateful to my mail congnguyen.np93 @ gmail

[2019-01-31 05:03] lionelquellery commented on #544
@victorabraham I would advice you to remove this line : `developerMode:false`

[2019-02-01 16:31] pBread commented on #541
@samueldervis Did you ever find a solution to this? I'm running into the same error.

[2019-02-17 14:04] bhaveshcoruscate opened #619 "cors not allow for api and front"
Access to XMLHttpRequest at 'https://3001-dot-3281065-dot-devshell.appspot.com/ajax/products?category_id&fields=path%2Cid%2Cname%2Ccategory_id%2Ccategory_name%2Csku%2Cimages%2Cenabled%2Cdiscontinued%2Cstock_status%2Cstock_quantity%2Cprice%2Con_sale%2Cregular_price%2Cattributes%2Ctags&ids&limit=8&offset=0&on_sale&price_from&price_to&search&sku&sort=-date_updated&tags' from origin 'https://3000-dot-

[2019-02-18 03:58] Ashish567 opened #620 "MongoDB connection"
error: MongoDB connection was failed. Incomplete key value pair for option

(async () => {
	let client = null;
	let db = null;

	try {
		client = await MongoClient.connect(
			mongodbConnection,
			CONNECT_OPTIONS
		);
		db = client.db(dbName);
		winston.info(`Successfully connected to ${mongodbConnection}`);
	} catch (e) {
		winston.error(`MongoDB connection was failed. ${e.message}`);
		return;

[2019-02-18 04:05] ngoyal16 commented on #585
we are working on that... will let you know when we done with this process... it is good if you recreate the issue in new repo

[2019-02-18 04:07] ngoyal16 commented on #620
please use the new org for cezerin... as this repo is not active anymore.. you can find that on

https://github.com/cezerin2

[2019-02-18 04:08] ngoyal16 commented on #619
please create the issue in new org of cezerin as this is repo is not active.. you can find new org at

https://github.com/cezerin2

[2019-02-18 04:10] #620 closed, assigned to nobody

[2019-02-18 04:13] ngoyal16 commented on #619
don't forget to close this issue.

[2019-02-18 04:17] ngoyal16 commented on #599
hello @Mash12
as this repo is not active any more we create a new org for it... there are lots of changes too.

I created an issue for you on https://github.com/Cezerin2/cezerin2-store/issues/3#issue-411294973

don't forget to close this issue

[2019-02-18 04:21] ngoyal16 commented on #613
@dchcm can you create an issue on our new org or cezerin...

at https://github.com/cezerin2/cezerin2

and don't forget to close this issue

[2019-02-18 04:22] ngoyal16 commented on #600
@ravitalari you can close the issue if you find our new repo. and can contribute there.

[2019-02-18 04:23] ngoyal16 commented on #580
you can find new releases at https://github.com/cezerin2/cezerin2

don't forget to close this issue

[2019-02-18 04:25] ngoyal16 commented on #598
@guillmz if you still have a problem let us know in our new repo...
https://github.com/cezerin2/cezerin2

don't forget to close this issue

[2019-02-18 04:25] ngoyal16 commented on #580
@ravitalari

[2019-02-18 04:36] ngoyal16 commented on #8
@negati-ve   I have created a script.. you can use that to import product.

[2019-02-19 09:20] atiqueansari1987 commented on #546
@sonufrienko Can I take this?

[2019-02-28 10:28] DenisRozhko opened #621 "Missing configuration or bug with path overlap"
admin.production.js and admin.js have some differences in urls. As you see there are absolute path and relative. After setting up cezerin on Ubuntu 18 rely on guid I see the problem that when I try to log in
as admin it takes store url not API url.

![defect_mail](https://user-images.githubusercontent.com/48088310/53559999-178e3c80-3b54-11e9-8193-1d5ba71f0aa0.jpg)

When I hardcoded 3001 port it wo

[2019-03-03 12:50] ngoyal16 commented on #621
this repo is dead you can contact to the new repo at

https://github.com/Cezerin2

also close this issue too

[2019-03-03 14:22] dewelloper commented on #621
@DenisRoshko yes you are right. That is working right when you set port to 3001 at http. But if you make it on https ıts not working as expected. Have you tryed for https ?

[2019-03-06 08:17] xenon32 commented on #336
hello @restmount , need your help in fixing this issue.
TIA
![screenshot from 2019-03-06 13-44-48](https://user-images.githubusercontent.com/18366231/53865928-59b4f380-4016-11e9-8bfb-c57fe650d7bc.png)

[2019-03-06 08:22] neunygph commented on #336
@ShivaAnan , this repo is dead. You can join us at https://github.com/cezerin2

[2019-03-06 08:24] neunygph commented on #336
@ShivaAnan , here is the slack channel for the new Cezerin

https://join.slack.com/t/cezerin2/shared_invite/enQtNTE5NzYxMzA5ODc5LTVkZjM4ODUwMmNlMmMyZTkxYjg5N2QxZmQ5NjA1NTg3OWM2ZjU1NzVmNWM0N2E3ZmJjM2Q3MjQ5OGFmNTBmYjg

[2019-03-11 08:30] duyduong commented on #544
Can we change this type of authentication to old traditional one? Using email and password to login

[2019-03-15 11:26] ravitalari opened #622 "Cezerin Port 3000 is dead"
I am running npm run strart. API 3001 is running, Mongo db is running but the app 3000 port is dead. Please help me

[2019-03-16 16:53] ngoyal16 commented on #622
new active repo is https://github.com/cezerin2 please make issue there

[2019-03-18 13:26] darshan0071990 commented on #397
+1

[2019-03-19 14:21] #622 closed, assigned to nobody

[2019-03-20 16:36] cafesk8 commented on #8
@ngoyal16 Hello, where could I take a look at the script?

[2019-03-21 03:48] ngoyal16 commented on #8
you can find script here https://github.com/Cezerin2/cezerin2-scripts you have to put api url, token, and customize header based on your csv

[2019-03-31 15:11] MexsonFernandes opened #623 "localhost:3000/api/v1/authorize Not Found"
server.js file has set the api url to 3001.

[2019-04-03 03:07] #623 closed, assigned to nobody

[2019-04-03 03:08] MexsonFernandes commented on #623
you can use cezerin2 GitHub repository.

[2019-04-03 07:26] tronghuy2807 opened #624 "Tinymce do not show upload button for image and media"
On product edit:

![Dashboard](https://user-images.githubusercontent.com/6357274/55460567-7ac03280-561c-11e9-8de0-1d56d33c80d9.jpg)

[2019-04-04 06:56] tronghuy2807 commented on #624
@restmount Can you help me?

[2019-04-15 19:12] mjmaahs commented on #502
Hi,
can i have a more detailed step for rtl ?

[2019-04-27 01:53] fcnorman commented on #519
Slack invite above has expired.  Please send another one.

[2019-04-27 17:17] nico-sorice commented on #624
Hi, looks like this repo is dead and there's a new one

https://github.com/Cezerin2

[2019-04-28 11:09] fcnorman commented on #519
The whole project has moved to github.com:/Cezerin2/cezerin2 and a cezerin2 slack channel and is alive and well.  See you there.

[2019-05-14 04:40] szuhuaabbywu commented on #611
have the same issue, hope somebody can help, thanks

[2019-05-15 10:41] harshan89 opened #625 "Price range controller not working on IE 11"

[2019-05-19 06:09] khaizanbaihaque opened #626 "Log from console does not appear"
I try to display the log on the console with create-react-app with the console.log command as usual and it works, but how do I display logs in the console in this application?
I've been browsing but it hasn't been successful, is the console log in PWA and SPA different? Please help.

[2019-05-20 07:18] MonteLogic opened #627 "DevToolsExtension? Aka Redux Dev Tools"
Not noticing Redux Dev Tools integration. Enquiring on if the community is integrating or plans on doing so.

Thanks,
Dennis Z

[2019-05-20 18:15] JipingWang commented on #473
should not be "warning", cuz "warning" tells you need to concern that. should be like the following,
[code]

[2019-05-20 19:37] #626 closed, assigned to nobody

[2019-05-21 00:40] w3debugger commented on #609
@cezerin I'm also getting.
[code]

[2019-05-22 12:51] #625 closed, assigned to nobody

[2019-05-30 11:46] tiendzbk commented on #544
yes, I am changing it, but i face to many bug

[2019-06-02 23:34] dr-montasir commented on #404
Thanks

Please provide the example code for both API and client

[2019-06-06 17:14] bishopZ commented on #592
The exact error is
`Error R10 (Boot timeout) -> Web process failed to bind to $PORT within 60 seconds of launch`

I tried changing line 27 of config/server.production.js to
`storeListenPort: process.env.PORT || 3000,`

but it still tries to bind to port 3000 and fails. I'll continue to look into it.

[2019-06-06 17:16] bishopZ commented on #592
Duplicate of #404

[2019-06-06 21:12] bishopZ commented on #592
Well, after following the instructions in #404, the build still fails because of the `import` statements. I tried upgrading Node to version 12.4 but got the same error. I also tried [getting babel to convert the import statements](https://timonweb.com/posts/how-to-enable-es6-imports-in-nodejs/) but that produced an error `regeneratorRuntime is not defined`. I tried [resolving the babel error](http

[2019-06-06 21:56] dewelloper commented on #592
You can make it with babel look my repo by name pzone it has successfully working
But there are other problem coming up with babel because ıt has generating many scripts ıt has preventing the debugging options on browser. So you can pass this with nodemon dont forget this challenges :)

[2019-06-10 08:07] rameshsrinivasan commented on #456
+1 for MySQL

[2019-06-14 14:22] kaidronzzer commented on #420
Is Indian Payment gateway integration done?

[2019-06-16 14:05] kaidronzzer commented on #420
can you tell me what changes you did in case of deployment. I deployed the project but this error occuring. The functionalities are not working properly...

WebSocket connection to 'ws://localhost:3001/ws/dashboard?token=null' failed: Error in connection establishment: net::ERR_CONNECTION_REFUSED

[2019-06-17 02:47] channingbox commented on #420
This project is dead , please go to https://github.com/Cezerin2/cezerin2

[2019-06-18 05:11] anil826 commented on #600
1993anilyadav@gmail.com Love to join

[2019-06-18 06:47] ngoyal16 commented on #600
feel free to give PR to our new repos.. if your PR are good we will join in members list.

github.com/cezerin2

[2019-06-18 06:55] ravitalari commented on #600
Anil,

Start your work and let us know by raising the PR will always welcome the
young champs like you.

On Tue, Jun 18, 2019 at 10:41 AM Anil yadav <notifications@github.com>
wrote:

[2019-07-09 18:12] fkonovalov commented on #397
I had the same problem on the 8.10 node version. Was solved by installing version 8.12

[2019-07-16 18:39] dr-montasir commented on #404
Thank you everything is going well

[2019-07-31 05:05] vaimeo opened #628 "Deploy to azure web service"
I want to setup cezerin on azure web service but i am not sure how it will run and what are the issnode.xml and web.config files for it

Do i need VPS or dedicated machine or docker container to deploy it?

Thanks in advance for reply

[2019-08-17 07:38] iSridharJanardhan opened #629 "How to run development server that restarts when the files are modified ?"
Hi, I am figuring out on how to restart development server on modification in the files.

[2019-08-19 08:10] bicendinh commented on #397
my solution: Run npm i --save ./theme -> npm run build

[2019-08-22 19:56] vamcart commented on #629
Original Cezerin is dead.
Follow active github repo - https://github.com/cezerin2

You can use watch option:
npm run build:watch

[2019-08-22 19:58] vamcart commented on #628
Original Cezerin is dead.
Follow active github repo - https://github.com/cezerin2

Check this cezerin2 docs https://cezerin.org/docs/#/

"Deploy on web" section

Step by step manual - how to install and deploy cezerin online.

[2019-08-22 19:58] vamcart commented on #627
Original Cezerin is dead.
Follow active github repo - https://github.com/cezerin2

Join us at #cezerin2 slack channel

https://cezerin.org

[2019-09-02 03:44] #489 closed

[2019-09-05 00:04] trinhvanvinh commented on #550
i have a same error . it is "cezerin2-client": "^0.35.0",. how to fix it. pls!!

[2019-09-07 01:05] panique commented on #606
the demo is also dead for long time :/

[2019-12-01 06:35] harshan89 opened #631 "Home page slider is not working for me"

[2019-12-01 10:06] neunygph commented on #631
The project has moved to github.com/cezerin2

[2019-12-30 12:11] sulaiman21 opened #633 "concurrently npm:start"
I have clone this repo into my pc (I am using Ubuntu 18.0.4) and i did all these steps
1: npm install
2: npm run build
3: npm start
    after that i am facing this error "cezerin@0.33.0 start: `concurrently npm:start-*`"
My level of development is in between beginner and intermediate level. Kindly help me.

[2019-12-30 12:18] sulaiman21 commented on #439
I am using latest version but i am facing "cezerin@0.33.0 start: `concurrently npm:start-*`" this problem. I have installed all dependencies. But i don't know why i am facing this problem.

[2020-01-03 12:09] hellobkrishna opened #634 "TypeError: Cannot read property 'replace' of null"
How to solve it!...
Please update the following components: SideEffect(NullComponent)
[start-store] error: Error on page rendering
[start-store]   path: /
[start-store]   error: TypeError: Cannot read property 'replace' of null
[start-store] error: TypeError: Cannot read property 'replace' of null
[start-store]     at renderPage (/Users/bablookumarsah/mean/clgproject/Nodeapp/dist/store/server/page

[2020-01-09 14:11] vamcart commented on #634
Original Cezerin is dead.
Follow active github repo - https://github.com/cezerin2

This error fixed at cezerin2

[2020-01-09 17:46] hellobkrishna commented on #634
Thank you...

[2020-01-15 05:46] #576 closed, assigned to nobody

[2020-01-31 21:56] #518 closed

[2020-02-12 01:04] #553 closed

[2020-03-09 17:01] saugatpahari commented on #430
hi @sivarajng i read your answer in #404 but could not find out the solution so can you please help me on this

[2020-04-28 23:24] #563 closed, assigned to nobody

[2020-06-12 09:49] huntr-helper opened #637 "Security Notice & Bug Bounty - Improper Access Control - huntr.dev"
# Overview
[cezerin](https://cezerin.com/) is a React and Node.js based eCommerce platform.

Affected versions of this package are vulnerable to Improper Access Control. Certain internal attributes (e.g., paid and tax) within `getValidDocumentForUpdate` in `src/api/server/services/orders/orders.js` function can be overwritten via a conflicting name from user-input. As such, it is possible for a ma

[2020-06-13 23:43] HackIvan opened #638 "Demo"
Demo page not working
need to see the user interface first before cloining it
thanks

[2020-06-15 14:55] huntr-helper commented on #637
‎‍🛠️ A fix has been provided for this issue. Please reference: https://github.com/418sec/cezerin/pull/1

🔥 This fix has been provided through the https://huntr.dev/ bug bounty platform.

[2020-06-28 17:05] ingcram commented on #582
same issue here...

Steps:

Working on local.
Click on theme option
Click on download option
Shows error

[2020-07-28 22:08] Zombiemx commented on #449
Tal vez tienes que hacer el npm build de nuevo

[2020-07-29 09:57] vamcart commented on #638
Hi!

Original cezerin abandoned.
Cezerin2 is active - https://github.com/cezerin2/cezerin2

Check online demo of cezerin2:

Plusha theme - https://plusha.cezerin.net
Default theme - https://cezerin.net

[2020-08-14 15:42] orar commented on #606
Slack link is dead. Please fix

[2020-11-23 14:13] huntr-helper commented on #637
### Bug Bounty

We have opened up a bounty for this issue on our bug bounty platform. Want to solve this vulnerability? Go to https://huntr.dev/

We will submit a pull request directly to your repository with the fix as soon as possible. Want to learn more? Go to https://github.com/418sec/huntr 📚

_Automatically generated by @huntr-helper..._

[2020-11-23 14:13] huntr-helper commented on #637
### Bug Bounty

We have opened up a bounty for this issue on our bug bounty platform. Want to solve this vulnerability? Go to https://huntr.dev/

We will submit a pull request directly to your repository with the fix as soon as possible. Want to learn more? Go to https://github.com/418sec/huntr 📚

_Automatically generated by @huntr-helper..._

[2020-12-04 07:05] sharesofttech opened #651 "Assets and static files not loading"
Dear Team,

After installing your package assets and the static files not loading. i am getting 403 access forbidden error always.

Thanks,

[2020-12-06 13:11] sactw commented on #634
Can you please tell us what was the fix?

[2020-12-06 13:12] vamcart commented on #634
yse

[2020-12-25 15:20] #541 closed

[2021-03-24 11:12] #309 closed